.groupInput {
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.groupAction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -10%;
}

.groupAction button {
    background-color: var(--bg-primary-color) !important;
    color: aliceblue;
    font-family: 'Cairo', sans-serif !important;
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 30px;
}

.restGroupInfo {
    display: block;
}

.restGroupInfoDisable {
    display: none;
}

.nextButtonAddNewHeader {
    display: block;
}

.nextButtonEditHeaderDetails {
    display: none;
}

.headerForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerForm .groupInput {
    width: 23%;
}

.detailsForm {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 60%;
    margin-left: 21%;

    margin-top: -5%;
    /* justify-content: space-between; */
    padding: 5%;

}

.detailsForm .groupInput {
    flex-basis: 19%;
}

.detailsForm .third-parent {

    flex-basis: 15%;


}

.headerTable {
    align-items: center;
}

.statusRadioBtns {
    display: flex;
}

mat-radio-group {
    padding: 2%;
    margin-top: -3%;
}

.searchLabels {
    display: flex;
    flex-direction: column;
}

.add-h1 {
    text-align: center;
    font-family: 'Cairo', sans-serif !important;
    font-weight: bold;
    color: var(--bg-primary-color) !important;
    margin-top: 10px;
    box-shadow: 0px 1px 1px 0px rgb(124, 123, 123);

}

.cdk-overlay-pane {
    position: relative !important;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}