<form [formGroup]="FIJournal" dir="rtl">
  <div class="cdk-overlay-pane  ">
    <button class="close" mat-button mat-dialog-close> <mat-icon> clear</mat-icon></button>
  </div>

  <h1 mat-dialog-title class="add-h1">{{editData? ' تعديل المصدر ' : 'إضافة مصدر جديد'}}</h1>
  <div mat-dialog-content style="overflow: hidden;">
    <form [formGroup]="FIJournal">


 <div class="Dialog">

   
  <div class="DialogLabels">
    <mat-label>رقم اليومية*</mat-label>
    <mat-form-field appearance="outline">
      <input formControlName="no" matInput placeholder="  رقم اليومية">
    </mat-form-field>
  </div>

  <div class="DialogLabels">
    <mat-label>السنة المالية*</mat-label>

    <mat-form-field appearance="outline" class="child-num">
      <mat-select placeholder="السنة المالية" formControlName="fiscalYearId">
        <mat-option [value]="fiscalYear.id"
          *ngFor="let fiscalYear of fiscalYearsList">{{fiscalYear.fiscalyear}}</mat-option>
      </mat-select>
    </mat-form-field>
 </div>


  
  


  <div class="DialogLabels">
    <mat-label>تاريخ الابتداء*</mat-label>

    <mat-form-field appearance="outline" class="example-full-width">
      <input #date matInput [matDatepicker]="picker" formControlName="startDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="DialogLabels">
    <mat-label>تاريخ الانتهاء</mat-label>

    <mat-form-field appearance="outline" class="example-full-width">
      <input #date matInput [matDatepicker]="pickerEnd" formControlName="endDate">
      <mat-datepicker-toggle matIconSuffix [for]="pickerEnd">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="DialogLabels" style="width: 100%;">
    <mat-label> الوصف*</mat-label>
    <mat-form-field appearance="outline">
      <input formControlName="description" matInput placeholder=" الوصف">
    </mat-form-field>
  </div>
 </div>

 

    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="savebtn" (click)="addFIJournals()">{{actionBtn}}</button>

  </div>
</form>