<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل النشاط   ' : 'إضافة  النشاط'}}</h1>

<!-- <h1 mat-dialog-title dir="rtl">اضافة وظيفة</h1> -->

<div mat-dialog-content dir="rtl" >
    <form [formGroup]="groupForm" style="overflow: hidden;">
     <div class="serachLabels">
        <mat-label>النشاط  </mat-label>

        <mat-form-field appearance="outline" class="groupInput">
            <input matInput placeholder="النشاط  " formControlName="name">
        </mat-form-field>
        <mat-label>الكود  </mat-label>

        <mat-form-field appearance="outline" class="groupInput">
            <input matInput placeholder="الكود  " formControlName="code">
        </mat-form-field>
     </div>

    </form>
    <button mat-raised-button  class="savebtn" (click)="addCcActivity()" style="margin-left: 8px;">{{actionBtn}}</button> 

</div>

<div mat-dialog-action [align]="'end'">
    
        <!-- <button mat-raised-button class="cancelBtn" mat-dialog-close>اغلاق</button> -->


</div>