<!-- <div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل مركز التكلفة   ' : ' إضافة  مركز التكلفة جديدة'}}</h1>
  <form [formGroup]="CcCostCenterForm" dir="rtl">
   
    <div mat-dialog-content>
      <form [formGroup]="CcCostCenterForm">
        <div class="child1">
        <mat-label>الكود </mat-label>
        <mat-form-field appearance="outline">
          <input formControlName="code"  pattern="^[0-9]{1}$" matInput placeholder="ادخل الكود ">
          <mat-error *ngIf="CcCostCenterForm.get('code')?.invalid && CcCostCenterForm.get('code')?.touched" readonly>
             كود مركز التكلفة مطلوب ويجب أن يحتوي على رقم واحد.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="child1">
        <mat-label>مركز التكلفة  </mat-label>
        <mat-form-field appearance="outline">
          <input formControlName="name" matInput placeholder="ادخل مركز التكلفة ">
        </mat-form-field>
      </div>
      <div class="child1">
        <mat-label>المنطقة</mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="CcRegion" [matAutocomplete]="autoCcRegion" [formControl]="CcRegionCtrl"
            placeholder="{{getCcCostCenterData ? getCcCostCenterData.regionName : 'اختر منطقة'}}" (click)="openAutoCcRegion()" required />
          <mat-autocomplete #autoCcRegion="matAutocomplete" [displayWith]="displayCcRegionName"
            (optionSelected)="CcRegionSelected($event)">
            <mat-option *ngFor="let CcRegion of filteredCcRegion | async" [value]="CcRegion">
              {{ CcRegion.name }} | {{ CcRegion.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="child1">
        <mat-label>الوظيفي</mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="Ccfunction" [matAutocomplete]="autoCcfunction" [formControl]="CcfunctionCtrl"
            placeholder="{{getCcCostCenterData ? getCcCostCenterData.functionName : 'اختر الوظيفي'}}" (click)="openAutoCcfunction()" required />
          <mat-autocomplete #autoCcfunction="matAutocomplete" [displayWith]="displayCcfunctionName"
            (optionSelected)="CcfunctionSelected($event)">
            <mat-option *ngFor="let Ccfunction of filteredCcfunction | async" [value]="Ccfunction">
              {{ Ccfunction.name }} | {{ Ccfunction.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="child1">
        <mat-label>المصدر</mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="CcSource" [matAutocomplete]="autoCcSource" [formControl]="CcSourceCtrl"
            placeholder="{{getCcCostCenterData ? getCcCostCenterData.SourceName : 'اختر المصدر'}}" (click)="openAutoCcSource()" required />
          <mat-autocomplete #autoCcSource="matAutocomplete" [displayWith]="displayCcSourceName"
            (optionSelected)="CcSourceSelected($event)">
            <mat-option *ngFor="let CcSource of filteredCcSource | async" [value]="CcSource">
              {{ CcSource.name }} | {{ CcSource.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="child1">
        <mat-label>المنطقة فرعية</mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="CcSubRegion" [matAutocomplete]="autoCcSubRegion" [formControl]="CcSubRegionCtrl"
            placeholder="{{getCcCostCenterData ? getCcCostCenterData.SubregionName : 'اختر منطقة فرعية'}}" (click)="openAutoCcSubRegion()" required />
          <mat-autocomplete #autoCcSubRegion="matAutocomplete" [displayWith]="displayCcSubRegionName"
            (optionSelected)="CcSubRegionSelected($event)">
            <mat-option *ngFor="let CcSubRegion of filteredCcSubRegion | async" [value]="CcSubRegion">
              {{ CcSubRegion.name }} | {{ CcSubRegion.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="child1">
        <mat-label> النبات</mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="CcPlant" [matAutocomplete]="autoCcPlant" [formControl]="CcPlantCtrl"
            placeholder="{{getCcCostCenterData ? getCcCostCenterData.PlantName : 'اختر  النبات'}}" (click)="openAutoCcPlant()" required />
          <mat-autocomplete #autoCcPlant="matAutocomplete" [displayWith]="displayCcPlantName"
            (optionSelected)="CcPlantSelected($event)">
            <mat-option *ngFor="let CcPlant of filteredCcPlant | async" [value]="CcPlant">
              {{ CcPlant.name }} | {{ CcPlant.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="child1">
        <mat-label>تكوين النبات </mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="CcPlantComponent" [matAutocomplete]="autoCcPlantComponent" [formControl]="CcPlantComponentCtrl"
            placeholder="{{getCcCostCenterData ? getCcCostCenterData.PlantComponentName : 'اختر  تكوين النبات'}}" (click)="openAutoCcPlantComponent()" required />
          <mat-autocomplete #autoCcPlantComponent="matAutocomplete" [displayWith]="displayCcPlantComponentName"
            (optionSelected)="CcPlantComponentSelected($event)">
            <mat-option *ngFor="let CcPlantComponent of filteredCcPlantComponent | async" [value]="CcPlantComponent">
              {{ CcPlantComponent.name }} | {{ CcPlantComponent.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="child1">
        <mat-label>النشاط </mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="CcActivity" [matAutocomplete]="autoCcActivity" [formControl]="CcActivityCtrl"
            placeholder="{{getCcCostCenterData ? getCcCostCenterData.ActivityName : 'اختر نشاط '}}" (click)="openAutoCcActivity()" required />
          <mat-autocomplete #autoCcActivity="matAutocomplete" [displayWith]="displayCcActivityName"
            (optionSelected)="CcActivitySelected($event)">
            <mat-option *ngFor="let CcActivity of filteredCcActivity | async" [value]="CcActivity">
              {{ CcActivity.name }} | {{ CcActivity.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>


    
        <button mat-raised-button class="savebtn" (click)="addCcCostCenter()" >{{actionBtn}}</button>
      </form>
    </div>
     
      
    
  </form> -->