<!-- <p>py-group-detail-employee-dialog works!</p> -->
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button (click)="closeDialog()" mat-dialog-close> <mat-icon>
            clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1"> {{editData ? 'تعديل تفاصيل موظفين مجموعات الاجور ' : 'اكمل تفاصيل موظفين مجموعات الاجور '}} </h1>


<form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()" style="overflow: hidden !important;">



    <div style="overflow: hidden !important;">
        <div class="detailsForm" dir="rtl">

            <div style="display: flex; flex-direction: column;">
                <mat-label> الموظف* </mat-label>

                <mat-form-field appearance="outline" class="child-num" style="width: 100%;">
                    <input matInput aria-label="commodity" [matAutocomplete]="autoEmployee" [formControl]="employeeCtrl"
                        placeholder="{{editData ? editData.employeeName : ''}}" (click)="openAutoEmployee()" required />
                    <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployeeName"
                        (optionSelected)="EmployeeSelected($event)">
                        <mat-option *ngFor="let employee of employeesList" [value]="employee">
                            {{ employee.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>

            <div mat-dialog-action [align]="'end'">
                <div class="groupAction">
                    <button mat-raised-button color="primary" style="margin-left: 8px;"
                        (click)="addDetailsInfo()">{{editData ?
                        'تعديل':'اضافة'}}</button>
                    <!-- <button mat-raised-button color="warn" mat-dialog-close (click)="getAllMasterForms()">اغلاق</button> -->
                </div>
            </div>
        </div>
    </div>

</form>