<div class="cdk-overlay-pane  ">
    <button class="close" mat-button mat-dialog-close> <mat-icon> clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? ' تعديل مجال المقاولات ' : 'إضافة مجال المقاولات'}}</h1>

<div mat-dialog-content dir="rtl">
    <form [formGroup]="proContractTypeForm" style="overflow: hidden;">
        <div class="serachLabels">

            <mat-label>الكود:</mat-label>
            <mat-form-field appearance="outline" class="groupInput">
                <input matInput placeholder="الكود" formControlName="code" readonly>
            </mat-form-field>

            <mat-label>مجال المقاولات:</mat-label>
            <mat-form-field appearance="outline" class="groupInput">
                <input matInput placeholder="مجال المقاولات" formControlName="name">
            </mat-form-field>

        </div>

    </form>
    <button mat-raised-button class="savebtn" (click)="addFaCategoryFirst()"
        style="margin-left: 8px;">{{actionBtn}}</button>

</div>

<div mat-dialog-action [align]="'end'">
    <!-- <button mat-raised-button class="cancelBtn" mat-dialog-close>اغلاق</button> -->
</div>
