<div class="cdk-overlay-pane  ">
  <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? '  تعديل وحدة   ' : ' إضافة  وحدة جديدة'}}</h1>
<form [formGroup]="unitsForm" dir="rtl">
  <div mat-dialog-content>
    <form [formGroup]="unitsForm">
      
      <mat-form-field appearance="outline">
        <mat-label>اسم الوحدة</mat-label>
        <input formControlName="name" matInput placeholder="اسم الوحدة">
      </mat-form-field>
      <button mat-raised-button class="savebtn" (click)="addProduct()">{{actionBtn}}</button> 
    </form>
  </div>
 
 
 
  </form>
