<mat-toolbar dir="rtl" color="primary" >
  <div class="information-company">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <img
    class="toolbar-img"
    src="../assets/images/water logo.png"
    alt="user photo"
  />
  <div class="toolbarUserContent ">
    <p>شركة مياة الشرب</p>
    <p>و الصرف الصحى باسوان</p>
  </div>
  </div>
  <div id="pageTitle">
    <div class="d-flex align-items-center">
      <!-- <span>{{ this.global.pageTitle }}</span
      ><mat-icon>{{this.global.icon}}</mat-icon> -->
      <span>المخازن</span>
    </div>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <div class="toolbarUserContent parent-user-name">
        <div class="user-name">
          <div class="my-2">{{ user?.name }}</div>
          <div class="my-2">مدير ادارة المخازن</div>
        </div>
      </div>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item routerLink="login">
      <mat-icon>notifications_off</mat-icon>
      <span>تسجيل الخروج</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container dir="rtl" autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <!-- <mat-list-item>
        <button class="list-btn" routerLink="home" mat-button>
          <mat-icon> store_mall_directory</mat-icon>المخازن
        </button>
      </mat-list-item> -->

<!-- start stores -->
<mat-expansion-panel dir="rtl" *ngIf="this.shared.stores ==true" >
  <mat-expansion-panel-header >
    <mat-panel-title>
      <mat-icon color="primary" class="ms-2">store</mat-icon>
      المخازن
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <mat-expansion-panel
      dir="rtl"
      style="
        box-shadow: none;
        border-bottom: 1px rgb(244, 237, 237) solid;
        margin-top: 10px;
      "
    >
      <mat-expansion-panel-header>
        <mat-panel-title> التكويد </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a
          mat-list-item
          class="sideNavSubItems"
          routerLink="/commodity"
          ><p class="font">السلعة</p></a
        >
        <a mat-list-item class="sideNavSubItems" routerLink="/grade"
          ><p class="font">النوعية</p></a
        >
        <a
          mat-list-item
          class="sideNavSubItems"
          routerLink="/str-platoon"
          ><p class="font">الفصيلة</p></a
        >
        <a
          mat-list-item
          routerLink="/group1"
          class="sideNavSubItems"
          ><p class="font">المجموعة</p></a
        >
        <a mat-list-item class="sideNavSubItems" routerLink="/unit"
          ><p class="font">الوحدة</p></a
        >
        <a
          mat-list-item
          class="sideNavSubItems"
          routerLink="/items1"
          ><p class="font">الاصناف</p></a
        >
        <a
          mat-list-item
          class="sideNavSubItems"
          routerLink="/products"
        >
          <p class="font">المنتجات</p></a
        >
        <a mat-list-item class="sideNavSubItems" routerLink="/store"
          ><p class="font">المخازن</p></a
        >
        <a
          mat-list-item
          class="sideNavSubItems"
          routerLink="/str-vendor"
        >
          <p class="font"> المصنع</p></a
        >
        <a
          mat-list-item
          class="sideNavSubItems"
          routerLink="/str-model"
        >
          <p class="font"> النموذج</p></a
        >
        <a
          mat-list-item
          class="sideNavSubItems"
          routerLink="/costCenter"
        >
          <p class="font">مركز التكلفة</p></a
        >
        
        
      </mat-nav-list>
    </mat-expansion-panel>
    <a
      mat-list-item
      class="sideNavSubItems"
      routerLink="/withdraw"
      *ngIf="this.shared.withdraw"
    >
      <p class="font">اذن صرف</p></a
    >
    <a
      mat-list-item
      class="sideNavSubItems"
      routerLink="/STRAdd"
      *ngIf="this.shared.STRAdd==true"
    
    >
      <p class="font">اذن اضافة</p></a
    >
    <a
      mat-list-item
      routerLink="/str-openingStock"
      class="sideNavSubItems"
      *ngIf="this.shared.openingStock==true"
    
    >
      <p class="font">الافتتاحى</p></a
    >
   
    <a
      mat-list-item
      routerLink="/employeeOpening"
      class="sideNavSubItems"
      *ngIf="this.shared.employeeOpening==true"
    >
      <p class="font">نقل عهدة</p></a
    >

    <a
    mat-list-item
    routerLink="/EmployeeOpeningCustody"
    class="sideNavSubItems"
    *ngIf="this.shared.employeeOpeningCustody==true"
  >
    <p class="font"> الإفتتاحي العهد</p></a
  >
  </mat-nav-list>
</mat-expansion-panel>

     
        <!--start accounts -->

        <mat-expansion-panel dir="rtl"  *ngIf="this.shared.accounts==true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <img
                src="../assets/images/calculator.png"
                width="20"
                class="ms-2"
              />
              الحسابات
            </mat-panel-title>
            <mat-nav-list></mat-nav-list>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <mat-expansion-panel
              dir="rtl"
              style="
                box-shadow: none;
                border-bottom: 1px rgb(244, 237, 237) solid;
                margin-top: 10px;
              "
            >
              <mat-expansion-panel-header>
                <mat-panel-title> التكويد </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/account"
                  (click)="
                    global.getPermissionUserRoles(1, 'acounts', '', '')
                  "
                >
                  <p class="font">اضافة حساب</p></a
                >
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/AccountHierarchy"
                  (click)="
                    global.getPermissionUserRoles(1, 'acounts', '', '')
                  "
                >
                  <p class="font">شجرة الحساب</p></a
                >
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/FiAccountItem"
                  (click)="
                    global.getPermissionUserRoles(1, 'acounts', '', '')
                  "
                >
                  <p class="font">صنف الحساب</p></a
                >
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/AccountParent"
                  (click)="
                    global.getPermissionUserRoles(1, 'acounts', '', '')
                  "
                >
                  <p class="font">إضافة حساب اب</p></a
                >
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/FIJournal"
                  (click)="
                    global.getPermissionUserRoles(1, 'acounts', '', '')
                  "
                >
                  <p class="font">إضافة صحيفة</p></a
                >

                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/EntrySource"
                  (click)="
                    global.getPermissionUserRoles(1, 'acounts', '', '')
                  "
                >
                  <p class="font">مصدر الدخل</p></a
                >

                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/EntrySourceType"
                  (click)="
                    global.getPermissionUserRoles(1, 'acounts', '', '')
                  "
                >
                  <p class="font">نوع مصدر الدخل</p></a
                >
              </mat-nav-list>
            </mat-expansion-panel>
            <a
              mat-list-item
              class="sideNavSubItems"
              routerLink="/withdraw"
              (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
              >اليومية
            </a>
            <a
              mat-list-item
              class="sideNavSubItems"
              routerLink="/fi-entry"
              (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
              >القيود
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <!-- end accounts -->
             <!-- start الموراد البشرية-->
             <mat-expansion-panel dir="rtl" *ngIf="this.shared.hr==true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon color="primary" class="ms-2">people</mat-icon>
                   شئون العاملين
                </mat-panel-title>
                <mat-nav-list></mat-nav-list>
              </mat-expansion-panel-header>

              <mat-nav-list>
                <mat-expansion-panel
                  dir="rtl"
                  style="
                    box-shadow: none;
                    border-bottom: 1px rgb(244, 237, 237) solid;
                    margin-top: 10px;
                  "
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> التكويد </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list>
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/account"
                      (click)="
                        global.getPermissionUserRoles(1, 'acounts', '', '')
                      "
                      >اضافة مورد</a
                    >
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/AccountHierarchy"
                      (click)="
                        global.getPermissionUserRoles(1, 'acounts', '', '')
                      "
                      >إضافة شجرة الحساب</a
                    >
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/FiAccountItem"
                      (click)="
                        global.getPermissionUserRoles(1, 'acounts', '', '')
                      "
                      >إضافة صنف الحساب</a
                    >
                  </mat-nav-list>
                </mat-expansion-panel>
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/withdraw"
                  (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
                  >اليومية
                </a>
                <a
                  mat-list-item
                  class="sideNavSubItems"
                  routerLink="/fi-entry"
                  (click)="global.getPermissionUserRoles(1, 'stores', '', '')"
                  >القيود
                </a>
              </mat-nav-list>
            </mat-expansion-panel>
            <!-- end Hr -->
            <!-- start roles -->
            <mat-expansion-panel dir="rtl" *ngIf="this.shared.roles==true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon color="primary"  class="ms-2">store</mat-icon>
                  الصلاحيات
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <mat-expansion-panel
                  dir="rtl"
                  style="
                    box-shadow: none;
                    border-bottom: 1px rgb(244, 237, 237) solid;
                    margin-top: 10px;
                  "
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> التكويد </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-nav-list>
                    <a
                      mat-list-item
                      class="sideNavSubItems"
                      routerLink="/pr-user"
                      ><p class="font" >المستخدمين</p></a
                    >
                    <a mat-list-item class="sideNavSubItems" routerLink="/pr-group"
                      ><p class="font" >الصلاحيات</p></a
                    >
                  </mat-nav-list>
                </mat-expansion-panel>
                
             
               
              </mat-nav-list>
            </mat-expansion-panel>
            <!-- ens roles -->
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style=" min-height: 600px" class="outletConyainer">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
