@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url('http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css');
.example-spacer {
  flex: 1 1 auto;
}

.toolbar-img{
  width: 40px;
  height: 40px;

}

.toolbar-content p{
  font-family: 'Droid Arabic Kufi', serif;
  font-size: 16px;
  margin: 0 !important;
}
.user-content p{
  font-family: 'Droid Arabic naskh', serif;
  font-size: 14px;
  margin: 0 !important;
}
.mat-toolbar.mat-primary {
  background: #034564;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:50px 20px ;
  
}

.list-btn,
.mat-expansion-panel-header{
  font-family: 'Droid Arabic Kufi', serif;
  color: #147a9f !important;
  font-size: 16px;
  letter-spacing: 0 !important;
}

.list-btn .mat-icon,
.mat-expansion-panel .mat-icon{
  font-size: 28px;
  height: 28px;
  width: 28px
}

.mat-expansion-panel .mat-icon{
  margin-left: 8px;
}

.expand span{
  font-family: 'Droid Arabic naskh', serif;
  font-size: 14px;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 40px;
}

.toolbarUserContent p{
  font-size: 15px;
  margin-top: 5px;
  
}

 .toolbarUserContent{
  line-height: 0.5;
  margin-right:2px;
 
}

.information-company{
  display: flex;
  justify-content: space-between;
  border: 1px rgb(240, 236, 236) solid;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  background-color: aliceblue;
  color: #000;
  
}

.information-company .mat-icon{
  --mat-icon-color:rgb(60, 202, 252);
}


#pageTitle{
  /* margin-right: 20%; */
  display: flex;
  justify-content: flex-start;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  /* background-color: aqua; */
  flex: 20%;
  text-align: right;
 padding-right: 20px;
 color:rgb(60, 202, 252) !important;
}

.mat-icon.mat-primary {
  --mat-icon-color:rgb(60, 202, 252);
}


.mat-drawer-container{
  background-color: white !important
}

.outletConyainer{

  margin: auto;
  margin-top: 50px !important;
  width: 90%;
}