
<div  >
    <mat-card>
      <div class="card-parent">
     
        <mat-card class="card-class" routerLink="/pr-user"  >    
          <mat-card-content>
              <mat-card-title> إذن حضور وانصراف</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/pr-group"  >    
          <mat-card-content>
              <mat-card-title> جدول الحضور </mat-card-title>
          </mat-card-content>
        </mat-card>  
      </div>
    
    </mat-card>
   
  
  </div>