
<div  >
    <mat-card>
      <div class="card-parent">
     
        <mat-card class="card-class" routerLink="/نوع الإذن"  >    
          <mat-card-content>
              <mat-card-title> إذن حضور وانصراف</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/الورديات"  >    
          <mat-card-content>
              <mat-card-title> جدول الحضور </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/الحضور والإنصراف"  >    
          <mat-card-content>
              <mat-card-title> حضور الموظف</mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/أذونات الموظفين"  >    
          <mat-card-content>
              <mat-card-title> تصريح حضور الموظف  </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/ورديات الموظفين"  >    
          <mat-card-content>
              <mat-card-title> جدول حضور الموظف  </mat-card-title>
          </mat-card-content>
        </mat-card> 
      </div>
    
    </mat-card>
   
  
  </div>