
<div  >
    <mat-card>
      <div class="card-parent">
     
        <mat-card class="card-class" routerLink="/hr-AttendancePermission"  >    
          <mat-card-content>
              <mat-card-title> إذن حضور وانصراف</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/hr-attendanceSchedule"  >    
          <mat-card-content>
              <mat-card-title> جدول الحضور </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/hr-EmployeeAttendance"  >    
          <mat-card-content>
              <mat-card-title> حضور الموظف</mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/hr-EmployeeAttendancePermission"  >    
          <mat-card-content>
              <mat-card-title> تصريح حضور الموظف  </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/hr-employeeAttendanceSchedule"  >    
          <mat-card-content>
              <mat-card-title> جدول حضور الموظف  </mat-card-title>
          </mat-card-content>
        </mat-card> 
      </div>
    
    </mat-card>
   
  
  </div>