<div class="cdk-overlay-pane  ">
  <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
</div>
<h1 mat-dialog-title class="add-h1">{{editData? '  تعديل شجرة حساب  ' : ' إضافة شجرة حساب جديدة'}}</h1>
<form [formGroup]="FIAccountForm" dir="rtl">
    <div mat-dialog-content>
      <form [formGroup]="FIAccountForm">
        <!-- <mat-form-field appearance="outline">
          <mat-label>كود المستخدم</mat-label>
          <input formControlName="transactionUserId" matInput placeholder="كود المستخدم">
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label> اسم الحساب</mat-label>
          <input formControlName="name" matInput placeholder=" اسم الحساب">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> المستوى</mat-label>
          <input formControlName="level" matInput placeholder=" المستوى">
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
    <button mat-raised-button class="savebtn" (click)="addFIAccountHierarchy()" >{{actionBtn}}</button> 
    </div>
    </form>
  
