<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل  درجة مالية   ' : ' إضافة درجة مالية جديدة'}}</h1> 
  <form [formGroup]="financialDegreeForm" dir="rtl">
      <div mat-dialog-content>
        <form [formGroup]="financialDegreeForm">
          <mat-label>اسم الدرجة </mat-label>
          <mat-form-field appearance="outline">
         
            <input formControlName="name" matInput placeholder="ادخل الدرجة">
          </mat-form-field>
          <mat-label>رقم السنة</mat-label>
          <mat-form-field appearance="outline" class="groupInput">
            
            <input matInput placeholder="رقم السنة" formControlName="noYear" type="number" min="0">
        </mat-form-field>
        </form>
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button class="savebtn" (click)="addFinancialDegree()" style="margin-left: 8px;">{{actionBtn}}</button>
      </div>
    </form>
  
