<!-- <p>str-employee-exchange-details-dialog works!</p> -->
<form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()">

    <div>
        <h1 mat-dialog-title class="add-h1"> اكمل تفاصيل نقل العهدة </h1>
        <div class="detailsForm" dir="rtl">

            <!-- <mat-form-field appearance="outline" class="groupInput">
                <mat-label> الصنف</mat-label>
                <mat-select placeholder="الصنف" formControlName="itemId"
                    [value]="editData ? editData.itemId : ''">
                    <mat-option [value]="item.id" *ngFor="let item of itemsList">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-label>بحث بالكود*</mat-label>

            <mat-form-field appearance="outline" class=" child-num" style="width: 100%;">
                <input matInput placeholder="الكود" (keydown)="getItemByCode($event)"
                    placeholder="{{editData ? editData.fullCode : ''}}"
                    [value]="fullCodeValue && fullCodeValue != '-' ? fullCodeValue : fullCodeValue && fullCodeValue == '-' ? 'لا يوجد' : '' ">
            </mat-form-field>


            <!-- <div style="width: 30%;"> -->
            <mat-label>الصنف*</mat-label>
            <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput aria-label="commodity" [matAutocomplete]="itemId" [formControl]="itemsCtrl"
                    placeholder="{{editData && !itemByFullCodeValue ? editData.itemName : itemByFullCodeValue && itemByFullCodeValue != '-' ? itemByFullCodeValue : itemByFullCodeValue && itemByFullCodeValue == '-' ? 'لا يوجد' : ''}}"
                    (click)="openAutoItem()" required />
                <mat-autocomplete #itemId="matAutocomplete" [displayWith]="displayItemName"
                    (optionSelected)="ItemSelected($event)">
                    <mat-option *ngFor="let item of filtereditems | async" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- </div> -->


            <!-- <div style="width: 10%;"> -->
            <mat-label>الكمية</mat-label>

            <mat-form-field appearance="outline" class="groupInput" style="width: 100%;">
                <input type="number" min="0" matInput placeholder="الكمية" formControlName="qty"
                    [value]="editData ? editData.qty : '1'">
            </mat-form-field>
            <!-- </div> -->

            <!-- <div style="width: 10%;"> -->
            <mat-label>السعر</mat-label>

            <mat-form-field appearance="outline" class="groupInput" style="width: 100%;">
                <input type="number" min="0" matInput placeholder="السعر" formControlName="price"
                    [value]="editData ? editData.price : ''">
            </mat-form-field>
            <!-- </div> -->


            <!-- <div style="width: 10%;"> -->
            <mat-label>النسبة</mat-label>

            <mat-form-field appearance="outline" class="groupInput" style="width: 100%;">
                <input type="number" matInput placeholder="النسبة" formControlName="percentage"
                    [value]="editData ? editData.percentage : ''">
            </mat-form-field>
            <!-- </div> -->


            <mat-radio-group aria-label="Select an option" formControlName="state"
                [value]="editData ? editData.state : stateDefaultValue">
                <mat-label>الحالة</mat-label>
                <div class="statusRadioBtns">
                    <mat-radio-button value="جديد">جديد</mat-radio-button>
                    <mat-radio-button value="مستعمل">مستعمل</mat-radio-button>
                </div>
            </mat-radio-group>




        </div>
        <div mat-dialog-action [align]="'end'">
            <div class="groupAction">
                <button mat-raised-button (click)="addDetailsInfo()">{{actionBtnDetails.toLowerCase() =='save' ?
                    'اضافة':'تعديل'}}</button>

            </div>
        </div>

    </div>
</form>