
<div  >
    <mat-card>
      <div class="card-parent">
     
        <mat-card class="card-class" routerLink="/account">    
          <mat-card-content>
              <mat-card-title>إضافة مستخدم</mat-card-title>
          </mat-card-content>
        </mat-card>
      
        <mat-card class="card-class" routerLink="/AccountHierarchy">    
          <mat-card-content>
              <mat-card-title>إضافة مجموعة </mat-card-title>
          </mat-card-content>
        </mat-card>  
      </div>
    
    </mat-card>
   
  
  </div>