<!-- <p>fi-entry-table works!</p> -->
<div class="text-center w=100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<mat-accordion class="example-headers-align" multi dir="rtl">

  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-description>
              بحث متقدم
              <mat-icon>search</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="groupMasterFormSearch">

          <div class="search">
              <div class="searchLabels">
                  <mat-label>الرقم</mat-label>

                  <mat-form-field appearance="outline">
                      <input #no matInput placeholder="ادخل الرقم" type="number" min="0" formControlName="No">
                  </mat-form-field>
              </div>

              <div class="searchLabels">
                  <mat-label>تاريخ البداية</mat-label>

                  <mat-form-field appearance="outline" class="example-full-width">
                      <input #StartDate matInput [matDatepicker]="picker" formControlName="StartDate">
                      <mat-datepicker-toggle matIconSuffix [for]="picker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              </div>

              <div class="searchLabels">
                  <mat-label>تاريخ النهاية</mat-label>

                  <mat-form-field appearance="outline" class="example-full-width">
                      <input #EndDate matInput [matDatepicker]="pickerEnd" formControlName="EndDate">
                      <mat-datepicker-toggle matIconSuffix [for]="pickerEnd">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #pickerEnd></mat-datepicker>
                  </mat-form-field>
              </div>


              <div class="searchLabels">
                  <mat-label> دفتر اليومية* </mat-label>

                  <mat-form-field appearance="outline" class="child-num">
                      <input matInput aria-label="commodity" [matAutocomplete]="autoJournal" placeholder="دفتر اليومية"
                          [formControl]="journalCtrl" (click)="openAutoJournal()" required />
                      <mat-autocomplete #autoJournal="matAutocomplete" [displayWith]="displayJounalName"
                          (optionSelected)="JournalSelected($event)">
                          <mat-option *ngFor="let journal of filteredJournal | async" [value]="journal">
                              {{ journal.description ? journal.description : '-' }} | {{ journal.no }}
                          </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>

              </div>

              <div class="searchLabels">
                  <mat-label>نوع مصدر الادخال</mat-label>

                  <mat-form-field appearance="outline">
                      <mat-select #sourceId plceholder="اختر النوع" formControlName="FiEntrySourceTypeId">
                          <mat-option *ngFor="let source of sourcesList"
                              [value]="source.id">{{source.name}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="searchLabels">
                  <mat-label> الحساب </mat-label>

                  <mat-form-field appearance="outline" class="child-num">
                      <input matInput aria-label="commodity" [matAutocomplete]="autoAccount" placeholder="الحساب"
                          [formControl]="accountCtrl" (click)="openAutoAccount()" required />
                      <mat-autocomplete #autoAccount="matAutocomplete" [displayWith]="displayAccountName"
                          (optionSelected)="AccountSelected($event)">
                          <mat-option *ngFor="let account of filteredAccount | async" [value]="account">
                              {{ account.name ? account.name : '-' }} | {{ account.code }}
                          </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>

              </div>

              <div class="searchLabels">
                  <mat-label>السنة المالية:</mat-label>

                  <mat-form-field appearance="outline" class="child-num">
                      <mat-select #fiscalYear placeholder="السنة المالية" formControlName="FiscalYearId">
                          <mat-option [value]="fiscalYear.id"
                              *ngFor="let fiscalYear of fiscalYearsList">{{fiscalYear.fiscalyear}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="searchLabels">
                  <mat-label> التقارير</mat-label>

                  <mat-form-field appearance="outline" class="searchForm">
                      <mat-select #report plceholder="اختر  التقرير" formControlName="report">
                          <mat-option value="EntryReport">تقرير</mat-option>
                          <mat-option value="EntryDetailsReport"> تقرير تفصيلي </mat-option>

                      </mat-select>
                  </mat-form-field>
              </div>

              <div class="searchLabels">
                  <mat-label> نوع التقرير</mat-label>

                  <mat-form-field appearance="outline" class="searchForm">
                      <mat-select #reportType plceholder="اختر  النوع" formControlName="report">
                          <mat-option value="pdf"> PDF </mat-option>
                          <mat-option value="xls">Excel </mat-option>


                      </mat-select>
                  </mat-form-field>
              </div>

          </div>

          <div class="searchLabels">
            <mat-label>الوصف</mat-label>

            <mat-form-field appearance="outline">
                <input #Description matInput placeholder="الوصف ..." formControlName="Description">
            </mat-form-field>
        </div>
          <div class="print-display">
              <mat-icon
                  (click)="getSearchFiEntry(no.value, StartDate.value,EndDate.value,sourceId.value, fiscalYear.value, Description.value)"
                  class="icons" title="بحث">search</mat-icon>
              <mat-icon class="icons" title="عرض"
                  (click)="previewPrint(no.value, StartDate.value,EndDate.value,sourceId.value, fiscalYear.value, Description.value ,report.value,reportType.value)"
                  class="icons" title="تحميل">print</mat-icon>

              <mat-icon
                  (click)="downloadPrint(no.value, StartDate.value,EndDate.value,sourceId.value, fiscalYear.value, Description.value ,report.value,reportType.value)"
                  class="icons" title="تحميل">get_app</mat-icon>

              <mat-icon (click)="resetForm()" class="icons" title="حذف قيم البحث">restore</mat-icon>
          </div>

      </form>


  </mat-expansion-panel>
</mat-accordion>

<mat-tab-group class="demo-tab-group" #matgroup>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="pageTab">
                <!-- <mat-icon class="example-tab-icon">cloud_done</mat-icon> -->
                <h2>بيانات القيود</h2>
            </div>
        </ng-template>

        


        <mat-card-header dir="ltr" class="parent-search">
            <div class="child1">
                <button mat-raised-button class="add" (click)="openFiEntryDialog()" dir="ltr">
                    <span class="ms-2">اضافة</span> <mat-icon class="me-1">add</mat-icon>
                </button>
            </div>

            <div>
                <input matInput class="filter-search" (keyup)="applyFilter($event)" placeholder="بحث" #input />
            </div>
        </mat-card-header>


        <div class="div-table">
            <table mat-table [dataSource]="dataSource2" dir="rtl">

                <!-- No Column -->
                <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef> الرقم </th>
                    <td mat-cell *matCellDef="let row"> {{row.no}} </td>
                </ng-container>
                <!-- balance Column -->
                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef> اليومية </th>
                    <td mat-cell *matCellDef="let row"> {{row.balance}} </td>
                </ng-container>

                <!-- creditTotal Column -->
                <ng-container matColumnDef="creditTotal">
                    <th mat-header-cell *matHeaderCellDef> مجموع الدائن </th>
                    <td mat-cell *matCellDef="let row"> {{row.creditTotal}} </td>
                </ng-container>

                <!-- debitTotal Column -->
                <ng-container matColumnDef="debitTotal">
                    <th mat-header-cell *matHeaderCellDef> مجموع المدين </th>
                    <td mat-cell *matCellDef="let row"> {{row.debitTotal}} </td>
                </ng-container>

                <!-- journalName Column -->
                <ng-container matColumnDef="journalName">
                    <th mat-header-cell *matHeaderCellDef> دفتر اليوميه </th>
                    <td mat-cell *matCellDef="let row"> {{row.journalNo}} </td>
                </ng-container>

                <!-- entrySourceTypeName Column -->
                <ng-container matColumnDef="entrySourceTypeName">
                    <th mat-header-cell *matHeaderCellDef> نوع مصدر الإدخال </th>
                    <td mat-cell *matCellDef="let row"> {{row.entrySourceTypeName}} </td>
                </ng-container>

                <!-- state Column -->
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> النوع </th>
                    <td mat-cell *matCellDef="let row"> {{row.state}} </td>
                </ng-container>

                <!-- date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> التاريخ </th>
                    <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef id="action-header" style="width: 15%">
                        الاجراء
                    </th>
                    <td mat-cell *matCellDef="let row" id="buttn">

                        <button mat-icon-button *ngIf="row.state == 'مغلق'" class="editbtn"
                            (click)="editMasterForm(row)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>


                        <button mat-icon-button *ngIf="row.state != 'مغلق'" class="editbtn"
                            (click)="editMasterForm(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="row.state != 'مغلق'" color="warn"
                            (click)="deleteBothForms(row.id)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsMaster"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMaster;"></tr>

            </table>


        </div>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" (page)="pageChanged($event)" ></mat-paginator> -->

        <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="الصفحات" (page)="pageChanged($event)"
            showFirstLastButtons>
        </mat-paginator>

    </mat-tab>


    <!-- ----------------------------------------------------------------------------------------- -->


    <mat-tab #tab [disabled]='!tab.isActive'>
        <ng-template mat-tab-label>
            <div class="pageTab">
                <!-- <mat-icon class="example-tab-icon">cloud_done</mat-icon> -->
                <h2>اضافة قيد</h2>
            </div>
        </ng-template>


        <div class="container">
            <!-- <div class="cdk-overlay-pane  ">
                <button class="close" mat-button (click)="getAllMasterForms()"> <mat-icon> clear</mat-icon></button>
            </div> -->

            <!-- <h1 mat-dialog-title class="add-h1">{{editData? ' تعديل قيد' : ' إضافة قيد'}}</h1> -->
            <div mat-dialog-content dir="rtl" class="mt-3">
                <div mat-dialog-content class="mat-dialog-content mt-4" dir="rtl">
                    <form [formGroup]="groupMasterForm" (keydown.enter)="$event.preventDefault()">

                        <div class="headerForm">

                            <div class="searchLabels" min=0>
                                <mat-label>الرقم*</mat-label>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <input matInput placeholder="الرقم" formControlName="no" type="number" min="0">
                                </mat-form-field>
                            </div>
                            <div class="searchLabels">
                                <mat-label>السنة المالية*</mat-label>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <mat-select placeholder="السنة المالية" formControlName="fiscalYearId"
                                        (valueChange)="fiscalYearValueChanges($event)">
                                        <mat-option [value]="fiscalYear.id"
                                            *ngFor="let fiscalYear of fiscalYearsList">{{fiscalYear.fiscalyear}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="searchLabels">
                                <mat-label>بحث برقم اليومية</mat-label>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <input matInput placeholder="{{ editData ? editData.journalNo : '' }}"
                                        (keydown)="getJournalByNumbr($event)" [value]="journalNo ? journalNo : '' " />
                                </mat-form-field>
                            </div>

                            <div class="searchLabels">
                                <mat-label> دفتر اليومية* </mat-label>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <input matInput aria-label="commodity" [matAutocomplete]="autoJournal"
                                        [formControl]="journalCtrl"
                                        placeholder="{{editData && !journalByNoValue ? editData.journal_Description : journalByNoValue && journalByNoValue != '-' ? journalByNoValue : journalByNoValue && journalByNoValue == '-' ? 'لا يوجد' : 'دفتر اليومية'}}"
                                        (click)="openAutoJournal()" required />
                                    <mat-autocomplete #autoJournal="matAutocomplete" [displayWith]="displayJounalName"
                                        (optionSelected)="JournalSelected($event)">
                                        <mat-option *ngFor="let journal of filteredJournal | async" [value]="journal">
                                            {{ journal.description ? journal.description : '-' }} | {{ journal.no }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>

                            </div>

                            <div class="searchLabels">
                                <mat-label> نوع مصدر الادخال* </mat-label>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <mat-select placeholder=" نوع مصدر الإدخال " formControlName="fiEntrySourceTypeId">
                                        <mat-option [value]="source.id"
                                            *ngFor="let source of sourcesList">{{source.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                                <div class="searchLabels">
                                    <mat-label>التاريخ*</mat-label>
                                    <mat-form-field appearance="outline" class="groupInput">
                                        <input matInput [matDatepicker]="masterPicker" formControlName="date">
                                        <mat-datepicker-toggle matIconSuffix [for]="masterPicker">
                                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #masterPicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="radio searchLabels">
                                    <mat-label style="margin-top: 9px;"> حالة القيد*</mat-label>
                                    <mat-radio-group style="display: flex;flex-direction: row;"
                                        aria-label="Select an option" formControlName="state"
                                        [value]="editData ? editData.state : defaultState"
                                        (change)="setState($event)">
                                        <mat-radio-button value="تحرير">تحرير</mat-radio-button>
                                        <mat-radio-button value="مغلق">مغلق</mat-radio-button>
                                    </mat-radio-group>

                                </div>


                            <div class="searchLabels">
                                <mat-label>مجموع الدائن</mat-label>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <input matInput placeholder="مجموع الدائن" type="number"
                                        [value]="groupMasterForm ? groupMasterForm.getRawValue().creditTotal : sumOfCreditTotals"
                                        readonly>
                                </mat-form-field>
                            </div>

                            <div class="searchLabels">
                                <mat-label>مجموع المدين</mat-label>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <input matInput placeholder="مجموع المدين" type="number"
                                        [value]="groupMasterForm ? groupMasterForm.getRawValue().debitTotal : sumOfDebitTotals"
                                        readonly>
                                </mat-form-field>
                            </div>

                            <div class="searchLabels">
                                <mat-label>الفرق</mat-label>

                                <mat-form-field appearance="outline" class="groupInput">
                                    <input matInput placeholder="الفرق" type="number"
                                        [value]="groupMasterForm ? groupMasterForm.getRawValue().balance : resultOfBalance"
                                        readonly>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="searchLabels">
                            <mat-label>الوصف</mat-label>

                            <mat-form-field appearance="outline">
                                <textarea formControlName="description" matInput placeholder="الوصف ..."></textarea>
                            </mat-form-field>
                        </div>


                        <div dir="ltr">
                            <button class="follow-btn" mat-raised-button (click)="nextToAddFormDetails()" [ngClass]="
                       editData ||  MasterGroupInfoEntered
                            ? 'nextButtonEditHeaderDetails'
                            : 'nextButtonAddNewHeader'
                        ">
                                حفظ
                            </button>
                        </div>

                    </form>


                    <!-- <form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()"> -->

                    <div [ngClass]="(MasterGroupInfoEntered || editData) ? 'restGroupInfo' : 'restGroupInfoDisable'">


                        <div>
                            <div dir="ltr" *ngIf="entryRowReadOnlyState">
                                <button mat-raised-button class="follow-btn" (click)="updateMaster()">تعديل
                                    الاذن</button>

                            </div>

                            <!-- <div class="groupAction">
                                        <button mat-raised-button class="savebtn" (click)="OpenDetailsDialog()">اضافة بيان</button>
            
                                    </div> -->

                        </div>


                        <!-- --------------------------------------------------------------------------------------- -->


                        <div>
                            <h1 mat-dialog-title class="add-h1"> اكمل تفاصيل القيد </h1>


                            <form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()"
                                style="overflow: hidden !important;">



                                <div style="overflow: hidden !important;">
                                    <div class="headerForm2" dir="rtl">

                                        <div class="searchLabels">
                                            <mat-label> الحساب* </mat-label>

                                            <mat-form-field appearance="outline" class="groupInput">
                                                <input matInput aria-label="commodity" [matAutocomplete]="autoAccount"
                                                    [formControl]="accountCtrl"
                                                    placeholder="{{editDataDetails ? editDataDetails.accountName : 'الحساب'}}"
                                                    (click)="openAutoAccount()" required />
                                                <mat-autocomplete #autoAccount="matAutocomplete"
                                                    [displayWith]="displayAccountName"
                                                    (optionSelected)="AccountSelected($event)">
                                                    <mat-option *ngFor="let account of filteredAccount | async"
                                                        [value]="account">
                                                        {{ account.name ? account.name : '-' }} | {{ account.code }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>

                                        </div>

                                        <div class="searchLabels">
                                            <mat-label> البند الاحصائي* </mat-label>

                                            <mat-form-field appearance="outline" class="groupInput">
                                                <input matInput aria-label="commodity"
                                                    [matAutocomplete]="autoAccountItem" [formControl]="accountItemCtrl"
                                                    placeholder="{{editDataDetails ? editDataDetails.accountItemName : 'البند الاحصائي'}}"
                                                    (click)="openAutoAccountItem()" required />
                                                <mat-autocomplete #autoAccountItem="matAutocomplete"
                                                    [displayWith]="displayAccountItemName"
                                                    (optionSelected)="AccountItemSelected($event)">
                                                    <mat-option *ngFor="let accountItem of filteredAccountItem | async"
                                                        [value]="accountItem">
                                                        {{ accountItem.name }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>

                                        </div>

                                        <div class="searchLabels">
                                            <mat-label>دائن*</mat-label>

                                            <mat-form-field appearance="outline" class="groupInput">
                                                <input type="number" matInput placeholder="دائن"
                                                    formControlName="credit"
                                                    [value]="editDataDetails ? editDataDetails.credit : ''">
                                            </mat-form-field>

                                        </div>


                                        <div class="searchLabels">
                                            <mat-label>المدين*</mat-label>

                                            <mat-form-field appearance="outline" class="groupInput">
                                                <input type="number" matInput placeholder="المدين"
                                                    formControlName="debit"
                                                    [value]="editDataDetails ? editDataDetails.debit : ''">
                                            </mat-form-field>
                                        </div>


                                    </div>
                                    <div>
                                        <div dir="ltr" *ngIf="entryRowReadOnlyState">
                                            <button mat-raised-button class="follow-btn"
                                                (click)="addDetailsInfo()">{{!editDataDetails ?
                                                'اضافة':'تعديل'}}</button>
                                            <!-- <button mat-raised-button color="warn" mat-dialog-close (click)="getAllMasterForms()">اغلاق</button> -->
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="tableFixHead">
                            <table mat-table [dataSource]="dataSource" matSort class="headerTable">

                                <!-- credit Column -->
                                <ng-container matColumnDef="credit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> الائتمان</th>
                                    <td mat-cell *matCellDef="let row"> {{row.credit}} </td>
                                </ng-container>

                                <!-- debit Column -->
                                <ng-container matColumnDef="debit">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> المدين</th>
                                    <td mat-cell *matCellDef="let row"> {{row.debit}} </td>
                                </ng-container>

                                <!-- accountName Column -->
                                <ng-container matColumnDef="accountName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> الحساب </th>
                                    <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
                                </ng-container>

                                <!-- fiAccountItemId Column -->
                                <ng-container matColumnDef="fiAccountItemId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;">
                                        البند
                                        الاحصائي</th>
                                    <td mat-cell *matCellDef="let row"> {{row.accountItemName}} </td>
                                </ng-container>

                                <!-- action Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;">
                                        الاجراء </th>
                                    <td mat-cell *matCellDef="let row">
                                        <button mat-icon-button color="primary" (click)="editDetailsForm(row)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" (click)="deleteFormDetails(row.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>

                            </table>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                aria-label="Select page of users"></mat-paginator> -->
                        </div>
                    </div>

                    <!-- </form> -->
                </div>
            </div>
        </div>


    </mat-tab>
</mat-tab-group>