<mat-toolbar dir="rtl" color="primary">
  <div class="information-company">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <img routerLink="/home" class="toolbar-img" src="../assets/images/waterLogo.png" alt="user photo"
      routerLink="/home" />
    <!-- <div class="toolbarUserContent" routerLink="/home">
      <p>شركة مياةالشرب</p>
      <p>والصرف الصحى باسوان</p>
    </div> -->
  </div>
  <div id="pageTitle">
    <div class="d-flex align-items-center" [routerLink]="['/',this.global.routerLinkPage]">
      <mat-icon class="ms-1">{{
        this.global.icon ? this.global.icon : "home"
        }}</mat-icon>
      <span>{{
        this.global.pageTitle ? this.global.pageTitle : "الصفحة الرئيسية"
        }}</span>
    </div>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <div class="toolbarUserContent parent-user-name">
        <div class="user-info">
          <div class="ms-1">
            <mat-icon>perm_identity</mat-icon>
          </div>
          <div class="user-name">
            <div class="my-2">{{ user?.name }}</div>
          </div>
        </div>
      </div>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="handleLogOut()" routerLink="login">
      <mat-icon style="color: rgb(60, 202, 252)">exit_to_app</mat-icon>
      <span class="changFont">تسجيل الخروج</span>
    </button>
    <button mat-menu-item routerLink="pr-user-changPassword">
      <mat-icon style="color: rgb(60, 202, 252)">edit</mat-icon>
      <span class="changFont">تغير الرقم السري</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container dir="rtl" autosize>
  
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <div class="searchLabels" dir="rtl">
        <div class="search-title" >
      
            <mat-icon color="primary"  class="ms-1" >search</mat-icon>
          بحث شاشة</div>
        <div appearance="outline" class="searchForm">
          <input
            matInput
            aria-label="commodity"
            [matAutocomplete]="autostore"
            (keydown)="getsearch($event)"
            [formControl]="storeCtrl"
            formControlName="store"
            (click)="openAutostore()"
            required
          />
          <mat-autocomplete
            #autostore="matAutocomplete"
            #storeId
            [displayWith]="displaystoreName"
            (optionSelected)="storeSelected($event)"
          >
          <mat-option
          value="home">الرئيسية</mat-option>
            <mat-option
              *ngFor="let store of filteredstore | async"
              [value]="store"
            >
              {{ store.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      
      <mat-expansion-panel dir="rtl" *ngIf="hasAccessModule(pageEnums.STORES)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">store</mat-icon>
            المخازن و حسابات المخازن
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a *ngIf="hasAccessRole(pageEnums.COMMODITY)" mat-list-item class="sideNavSubItems"
                routerLink="/السلعة" routerLinkActive="active">
                <p class="font">السلعة</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/النوعية" *ngIf="hasAccessRole(pageEnums.GRADE)"
                routerLinkActive="active">
                <p class="font">النوعية</p>
              </a>
              <a *ngIf="hasAccessRole(pageEnums.STR_PLATOON)" mat-list-item class="sideNavSubItems"
                routerLink="/الفصيلة" routerLinkActive="active">
                <p class="font">الفصيلة</p>
              </a>
              <a *ngIf="hasAccessRole(pageEnums.GROUP1)" mat-list-item routerLink="/المجموعة" class="sideNavSubItems"
                routerLinkActive="active">
                <p class="font">المجموعة</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الوحدة" *ngIf="hasAccessRole(pageEnums.UNIT)"
                routerLinkActive="active">
                <p class="font">الوحدة</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الاصناف" *ngIf="hasAccessRole(pageEnums.ITEMES1)"
                routerLinkActive="active">
                <p class="font">الاصناف</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/المخازن" *ngIf="hasAccessRole(pageEnums.STORE)"
                routerLinkActive="active">
                <p class="font">المخازن</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المصنع"
                *ngIf="hasAccessRole(pageEnums.STR_VENDOR)" routerLinkActive="active">
                <p class="font">المصنع</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الموديلات" *ngIf="hasAccessRole(pageEnums.MODEL)"
                routerLinkActive="active">
                <p class="font">الموديل</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/مركز التكلفة"
                *ngIf="hasAccessRole(pageEnums.COST_CENTER)" routerLinkActive="active">
                <p class="font">مركز التكلفة</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المنتجات" *ngIf="hasAccessRole(pageEnums.PRODUCTS)"
                routerLinkActive="active">
                <p class="font">المنتجات</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/product-serial"
                *ngIf="hasAccessRole(pageEnums.PRODUCT_SERIAL)" routerLinkActive="active">
                <p class="font">مسلسل المنتج</p>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
          <a *ngIf="hasAccessRole(pageEnums.WITHDRAW)" mat-list-item class="sideNavSubItems" routerLink="/اذن صرف"
            routerLinkActive="active">
            <p class="font">اذن صرف</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/اذن اضافة" *ngIf="hasAccessRole(pageEnums.STRAdd)"
            routerLinkActive="active">
            <p class="font">اذن اضافة</p>
          </a>
          <a mat-list-item routerLink="/الافتتاحية" class="sideNavSubItems"
            *ngIf="hasAccessRole(pageEnums.STR_OPENING_STOCK)" routerLinkActive="active">
            <p class="font">الرصيد الافتتاحى</p>
          </a>

          <a mat-list-item routerLink="/نقل عهده" class="sideNavSubItems"
            *ngIf="hasAccessRole(pageEnums.EMPLOYEE_OPENING)" routerLinkActive="active">
            <p class="font">نقل عهدة</p>
          </a>
        

          <a mat-list-item routerLink="/افتتاحي لعهد" class="sideNavSubItems"
            *ngIf="hasAccessRole(pageEnums.EMPLOYEE_OPENING_CUSTODY)" routerLinkActive="active">
            <p class="font">الإفتتاحي العهد</p>
          </a>

          <a mat-list-item routerLink="/الجرد" class="sideNavSubItems"
            *ngIf="hasAccessRole(pageEnums.StrStockTaking)" routerLinkActive="active">
            <p class="font">الجرد</p>
          </a>
          <a mat-list-item routerLink="/تقارير المخازن" class="sideNavSubItems"
            *ngIf="hasAccessRole(pageEnums.EMPLOYEE_OPENING_CUSTODY)" routerLinkActive="active">
            <p class="font">تقارير المخازن</p>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!--start accounts -->
      <mat-expansion-panel dir="rtl" *ngIf="hasAccessModule(pageEnums.ACCOUNTS)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="../assets/images/calculator.png" width="20" class="ms-2" />
            الحسابات
          </mat-panel-title>
          <mat-nav-list></mat-nav-list>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="sideNavSubItems" routerLink="/الحسابات"
                *ngIf="hasAccessRole(pageEnums.ADD_ACCOUNT)" routerLinkActive="active">
                <p class="font">الحسابات</p>
              </a>
           
              <a mat-list-item class="sideNavSubItems" routerLink="/البنود الاحصائية"
                *ngIf="hasAccessRole(pageEnums.FiAccountItem)" routerLinkActive="active">
                <p class="font">البنود الاحصائية</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/مصدر الدخل"
                *ngIf="hasAccessRole(pageEnums.EntrySource)" routerLinkActive="active">
                <p class="font">مصدر الدخل</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/نوع مصدر الدخل"
                *ngIf="hasAccessRole(pageEnums.EntrySourceType)" routerLinkActive="active">
                <p class="font">نوع مصدر الدخل</p>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
          <a mat-list-item class="sideNavSubItems" routerLink="/اليوميات" *ngIf="hasAccessRole(pageEnums.FIJournal)"
            routerLinkActive="active">
            <p class="font">اليوميات</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/القيود" *ngIf="hasAccessRole(pageEnums.FI_ENTRY)"
            routerLinkActive="active">
            <p class="font">القيود</p>
          </a>

          <a mat-list-item class="sideNavSubItems" routerLink="/تقارير الحسابات" *ngIf="hasAccessRole(pageEnums.FI_ENTRY)"
            routerLinkActive="active">
            <p class="font">تقارير الحسابات</p>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- end accounts -->

      <!--start costs -->
      <mat-expansion-panel dir="rtl" *ngIf="hasAccessModule(pageEnums.ACCOUNTS)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">credit_card</mat-icon>
            التكاليف
          </mat-panel-title>
          <mat-nav-list></mat-nav-list>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="sideNavSubItems" routerLink="/النشاط"
                *ngIf="hasAccessRole(pageEnums.CcActivity)" routerLinkActive="active">
                <p class="font">النشاط</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الوظيفي"
                *ngIf="hasAccessRole(pageEnums.CcFunction)" routerLinkActive="active">
                <p class="font">الوظيفي</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المحطة"
                *ngIf="hasAccessRole(pageEnums.CcPlant)" routerLinkActive="active">
                <p class="font">المحطة</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المنطقة"
                *ngIf="hasAccessRole(pageEnums.CcRegion)" routerLinkActive="active">
                <p class="font">المنطقة</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المنطقة الفرعية"
                *ngIf="hasAccessRole(pageEnums.CcSubRegion)" routerLinkActive="active">
                <p class="font">المنطقة الفرعية</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/المصدر"
                *ngIf="hasAccessRole(pageEnums.CcSource)" routerLinkActive="active">
                <p class="font">المصدر</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/تحليل المحطة"
                *ngIf="hasAccessRole(pageEnums.CcPlantComponent)" routerLinkActive="active">
                <p class="font">تحليل المحطة</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المعدات"
                *ngIf="hasAccessRole(pageEnums.CcEquipment)" routerLinkActive="active">
                <p class="font">المعدات</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="مركزالتكاليف"
                *ngIf="hasAccessRole(pageEnums.Cccostcenter)" routerLinkActive="active">
                <p class="font">مركز التكاليف</p>
              </a>

            </mat-nav-list>
          </mat-expansion-panel>
          <a mat-list-item class="sideNavSubItems" routerLink="/قيود التكاليف" *ngIf="hasAccessRole(pageEnums.CcEntry)"
            routerLinkActive="active">
            <p class="font">قيود التكاليف</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/تقارير التكاليف" *ngIf="hasAccessRole(pageEnums.CcReports)"
            routerLinkActive="active">
            <p class="font">تقارير التكاليف</p>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- end costs -->
      <!--start الاصول الثابتة -->
      <mat-expansion-panel dir="rtl" *ngIf="hasAccessModule(pageEnums.FA)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">collections_bookmark</mat-icon>
            الأصول الثابتة
          </mat-panel-title>
          <mat-nav-list></mat-nav-list>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="sideNavSubItems" routerLink="/تصنيف اول"
                *ngIf="hasAccessRole(pageEnums.FaCategoryFirst)" routerLinkActive="active">
                <p class="font">تصنيف اول</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/تصنيف ثاني"
                *ngIf="hasAccessRole(pageEnums.FaCategorySecond)" routerLinkActive="active">
                <p class="font">تصنيف ثاني</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/تصنيف ثالث"
                *ngIf="hasAccessRole(pageEnums.FaCategoryThird)" routerLinkActive="active">
                <p class="font">تصنيف ثالث</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الاصول الثابتة"
                *ngIf="hasAccessRole(pageEnums.FaFixedAsset)" routerLinkActive="active">
                <p class="font">الاصول الثابتة</p>
              </a>

            </mat-nav-list>
          </mat-expansion-panel>
          <a mat-list-item class="sideNavSubItems" routerLink="/حركة الاصول" *ngIf="hasAccessRole(pageEnums.FaSGGubRegion)"
            routerLinkActive="active">
            <p class="font">حركة الإصول</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/تقارير الاصول" *ngIf="hasAccessRole(pageEnums.FaReports)"
            routerLinkActive="active">
            <p class="font">تقارير الإصول</p>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- end الاصول الثابتة -->
      <!-- start الموراد البشرية-->
      <mat-expansion-panel dir="rtl" *ngIf="hasAccessModule(pageEnums.HR)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">people</mat-icon>
            شئون العاملين
          </mat-panel-title>
          <mat-nav-list></mat-nav-list>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="sideNavSubItems" routerLink="/المسمى الوظيفى"
                *ngIf="hasAccessRole(pageEnums.HR_JOB_TITLE)" routerLinkActive="active">
                <p class="font">المسمي الوظيفي</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الحوافز"
                *ngIf="hasAccessRole(pageEnums.HR_INCENTIVE)" routerLinkActive="active">
                <p class="font">الحوافز</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/توع التوظيف"
                *ngIf="hasAccessRole(pageEnums.HR_HIRING_TYPE)" routerLinkActive="active">
                <p class="font">نوع التوظيف</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الانقطاع"
                *ngIf="hasAccessRole(pageEnums.SeveranceReason)" routerLinkActive="active">
                <p class="font">الانقطاع</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الموقف من التجنيد"
                *ngIf="hasAccessRole(pageEnums.HR_MILLIIRY_STATE)" routerLinkActive="active">
                <p class="font">موقف التجنيد</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المحافظات" *ngIf="hasAccessRole(pageEnums.CITY)"
                routerLinkActive="active">
                <p class="font">المحافظات</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المراكز"
                *ngIf="hasAccessRole(pageEnums.CITY_STATE)" routerLinkActive="active">
                <p class="font">المراكز</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المؤهلات"
                *ngIf="hasAccessRole(pageEnums.QUALIFICATION)" routerLinkActive="active">
                <p class="font">المؤهل</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الدرجة العلمية" routerLinkActive="active">
                <p class="font">الدرجة العلمية</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المجموعات النوعية"
                *ngIf="hasAccessRole(pageEnums.QUALIATIVE_GROUP)" routerLinkActive="active">
                <p class="font">المجموعة النوعية</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/أماكن العمل"
                *ngIf="hasAccessRole(pageEnums.WorkPlace)" routerLinkActive="active">
                <p class="font">مكان العمل</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/التخصصات"
                *ngIf="hasAccessRole(pageEnums.specialization)" routerLinkActive="active">
                <p class="font">التخصصات</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الوظائف"
                *ngIf="hasAccessRole(pageEnums.HR_POSTION)" routerLinkActive="active">
                <p class="font">الوظائف</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الجزاءات"
                *ngIf="hasAccessRole(pageEnums.hr_Disciplinary)" routerLinkActive="active">
                <p class="font">الجزاءات</p>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
          <a mat-list-item class="sideNavSubItems" routerLink="/الاجازات"
            *ngIf="hasAccessRole(pageEnums.HR_VACATION)" routerLinkActive="active">
            <p class="font">الاجازات</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/hr-employeeVacationBalance"
            *ngIf="hasAccessRole(pageEnums.HR_employeeVacationBalance)" routerLinkActive="active">
            <p class="font">رصيد الاجازات</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/اجازات الموظفين"
            *ngIf="hasAccessRole(pageEnums.HR_Employee_VACATION)" routerLinkActive="active">
            <p class="font">اجازات الموظفين</p>
          </a>

          <a mat-list-item class="sideNavSubItems" routerLink="/جزاءات الموظفين"
            *ngIf="hasAccessRole(pageEnums.HR_Employee_Disciplinary)" routerLinkActive="active">
            <p class="font">جزاءات الموظفين</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/الدرجات المالية"
            *ngIf="hasAccessRole(pageEnums.HR_financialDegree)" routerLinkActive="active">
            <p class="font">الدرجة المالية</p>
          </a>
        </mat-nav-list>
        <a mat-list-item class="sideNavSubItems" routerLink="/تقييم الموظفين"
          *ngIf="hasAccessRole(pageEnums.HR_employeeAppraisal)" routerLinkActive="active">
          <p class="font">تقييم الموظفين</p>
        </a>
        <a mat-list-item class="sideNavSubItems" routerLink="/درجات الموظف المالية"
          *ngIf="hasAccessRole(pageEnums.HR_employeeFinancialDegree)" routerLinkActive="active">
          <p class="font">درجات الموظف المالية</p>
        </a>
        <a mat-list-item class="sideNavSubItems" routerLink="وظائف الموظف"
          *ngIf="hasAccessRole(pageEnums.HR_employee_position)" routerLinkActive="active">
          <p class="font">مناصب الموظفين</p>
        </a>
        <a mat-list-item class="sideNavSubItems" routerLink="/الموظفين" *ngIf="hasAccessRole(pageEnums.HR_employee)"
          routerLinkActive="active">
          <p class="font">الموظفين</p>
        </a>
        <a mat-list-item class="sideNavSubItems" routerLink="مؤهلات الوظف"
          *ngIf="hasAccessRole(pageEnums.Employee_qualifications)" routerLinkActive="active">
          <p class="font">مؤهل الموظف</p>
        </a>

        <a mat-list-item class="sideNavSubItems" routerLink="/تقارير شئون العاملين" *ngIf="hasAccessRole(pageEnums.FI_ENTRY)"
          routerLinkActive="active">
          <p class="font">تقارير شئون العاملين</p>
        </a>
      </mat-expansion-panel>
      <!-- end Hr -->

  
      <mat-expansion-panel dir="rtl" *ngIf="hasAccessModule(pageEnums.ROLES)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">verified_user</mat-icon>
            الصلاحيات
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-nav-list> </mat-nav-list>
          </mat-expansion-panel>
          <a mat-list-item class="sideNavSubItems" routerLink="/المستخدمين" *ngIf="hasAccessRole(pageEnums.PR_USER)"
            routerLinkActive="active">
            <p class="font">المستخدمين</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/مجموعات المستخدمين" *ngIf="hasAccessRole(pageEnums.PR_GROUP)"
            routerLinkActive="active">
            <p class="font">مجموعات المستخدمين</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/pr-reports" *ngIf="hasAccessRole(pageEnums.PR_GROUP)"
            routerLinkActive="active">
            <p class="font">تقارير الصلاحيات</p>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- ens roles -->
      <!-- Start Attendance الحضور والانصراف  -->
      <mat-expansion-panel dir="rtl" *ngIf="hasAccessModule(pageEnums.ATTENDANDCE)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">book</mat-icon>
            الحضور والانصراف
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="sideNavSubItems" routerLink="نوع الإذن"
                *ngIf="hasAccessRole(pageEnums.PR_USER)" routerLinkActive="active">
                <p class="font">نوع الإذن</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الورديات"
                *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
                <p class="font">الورديات</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/أجهزة البصمة"
                *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
                <p class="font">جهاز البصمة</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/أماكن أجهزة البصمة"
                *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
                <p class="font">مكان جهاز البصمة</p>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item class="sideNavSubItems" routerLink="/ورديات الموظفين"
            *ngIf="hasAccessRole(pageEnums.PR_USER)" routerLinkActive="active">
            <p class="font">ورديات الموظفين</p>
          </a>

          <a mat-list-item class="sideNavSubItems" routerLink="/أذونات الموظفين"
            *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
            <p class="font">اذن تصريح الموظفين</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="الحضور والإنصراف"
            *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
            <p class="font">الحضور والانصراف</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/attendance-Reports"
            *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
            <p class="font">تقارير الحضور والانصراف</p>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- End Attendance الحضور والانصراف  -->

      <!-- Start PY  المرتبات  -->
      <mat-expansion-panel dir="rtl"  *ngIf="hasAccessModule(pageEnums.PY)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">money</mat-icon>
            الاستحقاقات
          </mat-panel-title>
          <mat-nav-list></mat-nav-list>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="sideNavSubItems" routerLink="/الأقساط"
                *ngIf="hasAccessRole(pageEnums.PyInstallment)" routerLinkActive="active">
                <p class="font">الأقساط</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/بنود الأجور" *ngIf="hasAccessRole(pageEnums.PyItem)"
                routerLinkActive="active">
                <p class="font">بنود الإجور</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/تصنيفات بنود الاجور"
                *ngIf="hasAccessRole(pageEnums.PyItemCategory)" routerLinkActive="active">
                <p class="font">تصنيفات بنودالاجور</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الوعاء الضريبي"
                *ngIf="hasAccessRole(pageEnums.pytaxbracket)" routerLinkActive="active">
                <p class="font">الوعاءالضريبي</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/مجموعات الاجور"  *ngIf="hasAccessRole(pageEnums.PyItemGroup)" routerLinkActive="active">
                <p class="font">مجموعات الاجور</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/الصرفيات"  *ngIf="hasAccessRole(pageEnums.PyExchange)"  routerLinkActive="active">
                <p class="font">الصرفيات</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/تقارير الاستحقاقات"   *ngIf="hasAccessRole(pageEnums.PyReports)" routerLinkActive="active">
                <p class="font">تقارير الاستحقاقات</p>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- End PY    -->
      <!-- Start  Training التدريب   -->
      <mat-expansion-panel dir="rtl">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">supervised_user_circle</mat-icon>
            الادارة العامة للتدريب
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="sideNavSubItems" routerLink="/Tr-Course" *ngIf="hasAccessRole(pageEnums.TrCourse)"
                routerLinkActive="active">
                <p class="font">الدورات التدريبية</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/تصنيف الدورة التدريبية"
                *ngIf="hasAccessRole(pageEnums.TrCourseCategory)" routerLinkActive="active">
                <p class="font">تصنيف الدورة التدريبية</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/نوع الدورة التدريبية"
                *ngIf="hasAccessRole(pageEnums.TrCourseType)" routerLinkActive="active">
                <p class="font">نوع الدورة التدريبية</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المدريبن"
                *ngIf="hasAccessRole(pageEnums.TRInstructor)" routerLinkActive="active">
                <p class="font">المدربين</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/المتدربين" *ngIf="hasAccessRole(pageEnums.TrTrainee)"
                routerLinkActive="active">
                <p class="font">المتدريبن</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/دورات المدربين"
                *ngIf="hasAccessRole(pageEnums.TrInstructorCourse)" routerLinkActive="active">
                <p class="font">دورات المدربين</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/عملاء الشركات"
                *ngIf="hasAccessRole(pageEnums.TrCoporteClient)" routerLinkActive="active">
                <p class="font">عملاءالشركات</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/مراكز التدريب"
                *ngIf="hasAccessRole(pageEnums.TrTrainingCenter)" routerLinkActive="active">
                <p class="font">مراكز التدريب</p>
              </a>

              <a mat-list-item class="sideNavSubItems" routerLink="/قاعات التدريب"
                *ngIf="hasAccessRole(pageEnums.TrClassRoom)" routerLinkActive="active">
                <p class="font">قاعات التدريب</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/دورات مركز التدريب"
                *ngIf="hasAccessRole(pageEnums.TrTrainingCenterCourse)" routerLinkActive="active">
                <p class="font">دورات مركز التدريب</p>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item class="sideNavSubItems" routerLink="/TrPlan" *ngIf="hasAccessRole(pageEnums.TrPlan)"
            routerLinkActive="active">
            <p class="font">الدورات المخططة</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/TrExcuted" *ngIf="hasAccessRole(pageEnums.TrExcuted)"
            routerLinkActive="active">
            <p class="font">الدورات المنفذة</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/TrTrack" *ngIf="hasAccessRole(pageEnums.TrTrack)"
            routerLinkActive="active">
            <p class="font">حزم تدريبية</p>
          </a>

          <a mat-list-item class="sideNavSubItems" routerLink="/Tr-Purpose" *ngIf="hasAccessRole(pageEnums.TrPurpose)"
            routerLinkActive="active">
            <p class="font">غرض التدريب</p>
          </a>

          <a mat-list-item class="sideNavSubItems" routerLink="/Tr-Budget" *ngIf="hasAccessRole(pageEnums.TrBudget)"
            routerLinkActive="active">
            <p class="font">الموازنة</p>
          </a>

          <a mat-list-item class="sideNavSubItems" routerLink="/TrReports" *ngIf="hasAccessRole(pageEnums.TrReports)"
            routerLinkActive="active">
            <p class="font">تقارير التدريب</p>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- End Training   التدريب  -->
      <!-- Start   العقود والمشتريات   -->
      <mat-expansion-panel dir="rtl">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon color="primary" class="ms-2">business_center</mat-icon>
            العقود والمشتريات
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-expansion-panel dir="rtl" style="
              box-shadow: none;
              border-bottom: 1px rgb(244, 237, 237) solid;
              margin-top: 10px;
            ">
            <mat-expansion-panel-header>
              <mat-panel-title> التكويد </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item class="sideNavSubItems" routerLink="/proSeller" *ngIf="hasAccessRole(pageEnums.PR_GROUP)"
                routerLinkActive="active">
                <p class="font"> الموردين</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/proSellerType"
                *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
                <p class="font">مجالات الموردين</p>
              </a>
              <a mat-list-item class="sideNavSubItems" routerLink="/proContractorType"
                *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
                <p class="font">مجالات المقاولات</p>
              </a>


            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item class="sideNavSubItems" routerLink="/proTender" *ngIf="hasAccessRole(pageEnums.PR_GROUP)"
            routerLinkActive="active">
            <p class="font"> المناقصات</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/proOperationType"
            *ngIf="hasAccessRole(pageEnums.PR_GROUP)" routerLinkActive="active">
            <p class="font"> نوع العملية</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/ProPlanType" *ngIf="hasAccessRole(pageEnums.PR_GROUP)"
            routerLinkActive="active">
            <p class="font">نوع الخطة</p>
          </a>

          <a mat-list-item class="sideNavSubItems" routerLink="/ProTenderType" *ngIf="hasAccessRole(pageEnums.PR_USER)"
            routerLinkActive="active">
            <p class="font">طريقة الطرح</p>
          </a>
          <a mat-list-item class="sideNavSubItems" routerLink="/TrTrack" *ngIf="hasAccessRole(pageEnums.PR_USER)"
            routerLinkActive="active">
            <p class="font">تقارير العقود والمشتريات</p>
          </a>




        </mat-nav-list>
      </mat-expansion-panel>
      <!-- End  العقود والمشتريات  -->
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px" class="outletConyainer">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>