@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url('http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css');
.example-spacer {
  flex: 1 1 auto;
}

.toolbar-img{
  width: 78%;

  

}
.changFont{
  font-family: 'Droid Arabic Kufi', serif;
  font-size: 13px;
}
.font{
  font-family: 'Droid Arabic Kufi', serif;
  font-size: 15px;
}
.sideNavSubItems{
  margin-right: -5px;
  padding-right: 0px;
}
.toolbar-content p{
  font-family: 'Droid Arabic Kufi', serif;
  font-size: 16px;
  margin: 0 !important;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-content p{
  font-family: 'Droid Arabic naskh', serif;
  font-size: 14px;
  margin: 0 !important;
}
.mat-toolbar.mat-primary {
  background:var( --bg-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:50px 10px ;
  
}
@media screen and (max-width: 600px) {
.mat-toolbar.mat-primary {
  background:var( --bg-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
padding: 50px 2px;
    width: 100%;}}
.list-btn,
.mat-expansion-panel-header{
  font-family: 'Droid Arabic Kufi', serif;
  color: #147a9f !important;
  font-size: 16px;
  letter-spacing: 0 !important;
}

.list-btn .mat-icon,
.mat-expansion-panel .mat-icon{
  font-size: 28px;
  height: 28px;
  width: 28px
}

.mat-expansion-panel .mat-icon{
  margin-left: 8px;
}

.expand span{
  font-family: 'Droid Arabic naskh', serif;
  font-size: 14px;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 40px;
}

.toolbarUserContent p{
  font-size: 15px;
  margin-top: 5px;
  
}

 .toolbarUserContent{
  line-height: 0.5;
  margin-right:2px;
 
}

.information-company{
  display: flex;
  justify-content: space-between;
  border: 1px rgb(240, 236, 236) solid;
  border-radius: 10px;
  padding: 5px 0px;
  align-items: center;
  background-color: var(--mat-sidenav-content-background-color);
  color: rgb(70, 70, 70);
  width: 230px;
  
}

.information-company .mat-icon{
  --mat-icon-color:rgb(60, 202, 252);
}

.information-company .toolbarUserContent{
  line-height: 0.5;
  max-width: 170px;
 
  
}

.toolbarUserContent p{
  font-size: 13px;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;

}

#pageTitle{
  /* margin-right: 20%; */
  display: flex;
  justify-content: flex-start;
  font-family: 'Cairo', sans-serif;
  font-weight:bold;
  font-size: 15px;
  /* background-color: aqua; */
  flex: 20%;
  text-align: right;
 padding-right: 20px;
 
}

.mat-icon.mat-primary {
  --mat-icon-color:rgb(60, 202, 252);
}


mat-expansion-panel{
 background-color: transparent;
  border: none !important;
 
}
.mat-drawer{
 width:252px;
  background-color: #e9e9e9ab !important;
  
}
.mat-drawer-container{
  background-color:transparent !important
}

.outletConyainer{

  margin: auto;
  margin-top: 50px !important;
  width: 90%;
}

.hiddenstores{
  display: hidden !important;
 
}

.displaystores{
  display: block;
}
.displayRoles{
  display:none;
}
.hiddenRoles{
  display: block;
}