<div  >
    <mat-card>
      <div class="card-parent">
        
        
        <mat-card class="card-class" routerLink="/hr-jobTitle">    
          <mat-card-content>
              <mat-card-title>  المسمي الوظيفي</mat-card-title>
          </mat-card-content>
        </mat-card>  
        <mat-card class="card-class" routerLink="/hr-hiringType">    
          <mat-card-content>
              <mat-card-title>نوع التوظيف</mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/hr-incentive">    
          <mat-card-content>
              <mat-card-title>الحوافز </mat-card-title>
          </mat-card-content>
        </mat-card>  
        <mat-card class="card-class" routerLink="/hr-vacation">    
          <mat-card-content>
              <mat-card-title>الاجازات </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/SeveranceReason">    
          <mat-card-content>
              <mat-card-title> الانقطاع </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/hr-MillitryState">    
          <mat-card-content>
              <mat-card-title>الموقف من التجنيد </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/hr-EmployeeDisciplinary">    
          <mat-card-content>
              <mat-card-title> الدرجة الوظيفية</mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/city">    
          <mat-card-content>
              <mat-card-title> المحافظات </mat-card-title>
          </mat-card-content>
        </mat-card> 
        <mat-card class="card-class" routerLink="/cityState">    
          <mat-card-content>
              <mat-card-title> المراكز </mat-card-title>
          </mat-card-content>
        </mat-card>  
        <mat-card class="card-class" routerLink="/Qualification">    
          <mat-card-content>
              <mat-card-title> المؤهل </mat-card-title>
          </mat-card-content>
        </mat-card>  
        <mat-card class="card-class" routerLink="/QualitativeGroup">    
          <mat-card-content>
              <mat-card-title> المجموعة النوعية </mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-class" routerLink="/WorkPlace">    
          <mat-card-content>
              <mat-card-title> مكان العمل </mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-class" routerLink="/specialization">    
          <mat-card-content>
              <mat-card-title>  التخصص </mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-class" routerLink="/hr-disciplinary">    
          <mat-card-content>
              <mat-card-title> الجزاءات </mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-class" routerLink="/hr-position">    
          <mat-card-content>
              <mat-card-title>   المنصب</mat-card-title>
          </mat-card-content>
        </mat-card>

        <mat-card class="card-class" routerLink="/hr-employee-position">    
          <mat-card-content>
              <mat-card-title> مناصب الموظفين</mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-class" routerLink="/hr-employeeVacation">    
          <mat-card-content>
              <mat-card-title>   اجازات الموظفين</mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-class" routerLink="/hr-employeeVacationBalance">    
          <mat-card-content>
              <mat-card-title> رصيد الاجازات </mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="card-class" routerLink="/hr-financialDegree">    
          <mat-card-content>
              <mat-card-title> الدرجة المالية </mat-card-title>
          </mat-card-content>
        </mat-card>
          <mat-card class="card-class" routerLink="/hr-employeeFinancialDegree">    
            <mat-card-content>
                <mat-card-title> الدرجة المالية للموظف</mat-card-title>
            </mat-card-content>         
        </mat-card>
       
        
       

        
       
      </div>
    
    </mat-card>
   
  
  </div>