
<form [formGroup]="gradeForm" dir="rtl">
    <h1 mat-dialog-title>إضافة نوعية</h1>
    <div mat-dialog-content>
      <form [formGroup]="gradeForm">
      
        <mat-form-field appearance="outline">
          <mat-label>الاسم</mat-label>
          <input formControlName="name" matInput placeholder="ادخل النوعية">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>اسم المصنع</mat-label>
          <input matInput aria-label="vendor" [matAutocomplete]="autoVendor" [formControl]="vendorCtrl"
            placeholder="{{getModelData  ? getModelData .vendorName : ''}}" (click)="openAutoVendor()" required />
          <mat-autocomplete #autoVendor="matAutocomplete" [displayWith]="displayVendorName"
            (optionSelected)="vendorSelected($event)">
            <mat-option *ngFor="let vendor of filteredVendores | async" [value]="vendor">
              {{ vendor.name }} 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
      <button mat-raised-button color="primary" (click)="addModel()" style="margin-left: 8px;">{{actionBtn}}</button>
    </div>
  </form>