
<div class="page-title"> المخازن</div>

      <mat-card-header dir="ltr">
        <div class="child1">
          <button mat-raised-button class="add" (click)="openDialog()" dir="ltr">
            <span class="ms-2">اضافة</span> <mat-icon class="me-1">add</mat-icon>
          </button>
        </div>
  
       <div>
        <input  class="filter-search"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="بحث"
        #input
      />
       </div>
      </mat-card-header>
      <div class="div-table" >

        <table mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef style="width: 15%;">الإجراء  </th>
            <td  mat-cell *matCellDef="let row"> 
              <button mat-icon-button (click)="editStore(row)" color="primary" >
                <mat-icon >edit</mat-icon>
              </button>
              <button (click)="deleteStore(row.id)" mat-icon-button color="warn">
                <mat-icon style="text-align: right;">delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="code" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 22px;position: relative;right: 0px;" > الكود  </th>
            <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.code}} </td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef  > المخزن </th>
            <td mat-cell *matCellDef="let row" > {{row.name}}  </td>
          </ng-container>
          
          <ng-container matColumnDef="storekeeperName">
            <th mat-header-cell *matHeaderCellDef  > أمين المخزن </th>
            <td mat-cell *matCellDef="let row" > {{row.storekeeperName}}  </td>
          </ng-container>
         
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">لا توجد بيانات "{{input.value}}"</td>
          </tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="الصفحات"></mat-paginator>
      </div>
  
    
  
