<div class="cdk-overlay-pane">
  <button class="close" mat-button mat-dialog-close>
    <mat-icon> clear</mat-icon>
  </button>
</div>
<h1 mat-dialog-title class="add-h1">
  {{ editData ? "  تعديل نوع الطلب   " : " إضافة نوع طلب جديد" }}
</h1>

<form [formGroup]="groupForm" dir="rtl">
  <div mat-dialog-content>
    <form [formGroup]="groupForm">
      <mat-form-field appearance="outline" class="groupInput">
        <mat-label>اسم نوع التعيين</mat-label>
        <input matInput placeholder="اسم نوع التعيين" formControlName="name" />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-action>
    <button
      mat-raised-button
      class="savebtn"
      style="margin-left: 8px"
      (click)="addHiringType()"
    >
      {{ actionBtn }}
    </button>
  </div>
</form>
