<div class="cdk-overlay-pane  ">
    <button class="close" mat-button mat-dialog-close> <mat-icon> clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? ' تعديل  مدرب ' : ' إضافة  مدرب جديد'}}</h1>

<!-- <form [formGroup]="HrEmployeePosition" dir="rtl"> -->
<div dir="rtl">
    <div mat-dialog-content>
        <form [formGroup]="TrInstructorForm">

            <div class="child1">
                <mat-label>الموظف</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput aria-label="employee" [matAutocomplete]="autoEmployee" [formControl]="employeeCtrl"
                    placeholder="{{getTrInstructorData ? getTrInstructorData.employeeName : ''}}" (click)="openAutoemployee()" required />
                  <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployeeName"
                    (optionSelected)="employeeSelected($event)">
                    <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee">
                      {{ employee.name }} 
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="child1">
                <mat-label>مركز التدريب</mat-label>
      
                <mat-form-field appearance="outline">
                  <input matInput aria-label="specialization" [matAutocomplete]="autoPosition" [formControl]="trainingCenterCtrl"
                    placeholder="{{getTrInstructorData ? getTrInstructorData.trainingCenterName : ''}}" (click)="openAutoTrainingCenter()" required />
                  <mat-autocomplete #autoPosition="matAutocomplete" [displayWith]="displayTrainingCenterName"
                    (optionSelected)="trainingCenterSelected($event)">
                    <mat-option *ngFor="let trainingCenter of filteredTrainingCenter | async" [value]="trainingCenter">
                      {{ trainingCenter.name }} 
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="savebtn" (click)="addTrInstructor()"
            style="margin-left: 8px;">{{actionBtn}}</button>
    </div>
</div>
<!-- </form> -->
