<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل مركز تكلفة   ' : ' إضافة  مركز تكلفة جديد'}}</h1>
<div dir="rtl">
   <div mat-dilog-content>
   <form [formGroup]="productForm" style="padding: 20px;" >
       <mat-form-field appearance="outline" >
           <mat-label>الكود </mat-label>
           <input formControlName="code" matInput placeholder="ادخل كودالمركز">
           
       </mat-form-field>
       <mat-form-field appearance="outline">
           <mat-label>المركز</mat-label>
           <input formControlName="name" matInput placeholder="ادخل اسم المركز" type="text">
   
       </mat-form-field>
       <button  mat-raised-button class="savebtn" (click)="addCostCenter()">{{actionBtn}}</button>

   </form>
   </div>
  

      
   
