<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل مؤهل موظف   ' : ' إضافة مؤهل موظف جديد'}}</h1> 
  <form [formGroup]="EmployeeQualificationForm" dir="rtl">
      <div mat-dialog-content>
        <form [formGroup]="EmployeeQualificationForm">
          <mat-label>الموظف</mat-label>
          <mat-form-field appearance="outline">
            <input matInput aria-label="employee" [matAutocomplete]="autoEmployee" [formControl]="employeeCtrl"
              placeholder="{{getEmployeeQualificationData ? getEmployeeQualificationData.employeeName : ''}}" (click)="openAutoemployee()" required />
            <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployeeName"
              (optionSelected)="employeeSelected($event)">
              <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee">
                {{ employee.name }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-label>التخصص</mat-label>

          <mat-form-field appearance="outline">
            <input matInput aria-label="specialization" [matAutocomplete]="autoSpecialization" [formControl]="specializationCtrl"
              placeholder="{{getEmployeeQualificationData ? getEmployeeQualificationData.specializationName : ''}}" (click)="openAutoSpecialization()" required />
            <mat-autocomplete #autoSpecialization="matAutocomplete" [displayWith]="displaySpecializationName"
              (optionSelected)="specializationSelected($event)">
              <mat-option *ngFor="let specialization of filteredSpecialization | async" [value]="specialization">
                {{ specialization.name }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-label>المؤهل</mat-label>
          <mat-form-field appearance="outline">
            <input matInput aria-label="qualification" [matAutocomplete]="autoQualification" [formControl]="qualificationCtrl"
              placeholder="{{getEmployeeQualificationData ? getEmployeeQualificationData.qualificationName : ''}}" (click)="openAutoQualification()" required />
            <mat-autocomplete #autoQualification="matAutocomplete" [displayWith]="displayQualificationName"
              (optionSelected)="qualificationSelected($event)">
              <mat-option *ngFor="let qualification of filteredQualification | async" [value]="qualification">
                {{ qualification.name }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-label>مستوى المؤهل</mat-label>
          <mat-form-field appearance="outline">
            <input matInput aria-label="qualificationLevel" [matAutocomplete]="autoQualificationLevel" [formControl]="qualificationLevelCtrl"
              placeholder="{{getEmployeeQualificationData ? getEmployeeQualificationData.qualificationLeveName : ''}}" (click)="openAutoQualificationLevel()" required />
            <mat-autocomplete #autoQualificationLevel="matAutocomplete" [displayWith]="displayQualificationLevelName"
              (optionSelected)="qualificationLevelSelected($event)">
              <mat-option *ngFor="let qualificationLevel of filteredQualificationLevel | async" [value]="qualificationLevel">
                {{ qualificationLevel.name }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>التاريخ</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="text-center" style="margin-bottom: 10px;">
            <input class="form-control" type="file" >
        </div>

        </form>
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button class="savebtn" (click)="addEmployeeQualification()" style="margin-left: 8px;">{{actionBtn}}</button>
      </div>
    </form>
  
