<mat-card>
  <mat-card-content>
    <!-- <mat-accordion class="example-headers-align" multi dir="rtl">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                  بحث متقدم
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        <div class="search">
            <mat-form-field appearance="outline">
              <mat-label>المؤهل </mat-label>
              <input #qualification matInput placeholder=" اسم المؤهل ">
          </mat-form-field>
          <mat-form-field appearance="outline">   
            <mat-label>المجموعة النوعية</mat-label>     
            <input matInput aria-label="qualitativeGroup" [matAutocomplete]="autoQualitativeGroup" [formControl]="qualitativeGroupCtrl" (click)="openAutoQualitativeGroup()" required/>
            <mat-autocomplete #autoQualitativeGroup="matAutocomplete" [displayWith]="displayQualitativeGroup" (optionSelected)="qualitativeGroupSelected($event)">
              <mat-option *ngFor="let qualitativeGroup of filteredQualitativeGroup | async" [value]="qualitativeGroup">
                {{ qualitativeGroup.name }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    
          <button (click)=" getQualification(qualification.value)" >عرض</button>
          </div>
          </mat-expansion-panel>
        </mat-accordion> -->

        <div class="page-title" >   المؤهل</div>

        <mat-card-header dir="rtl">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="بحث" #input />
          </mat-form-field>
          
          <div class="child1">
            <button mat-raised-button class="add" (click)="openDialog()" dir="ltr">
              <span class="ms-2">اضافة</span> <mat-icon class="me-1">add</mat-icon>
            </button>
          </div>
      
        
        </mat-card-header>

    
        <div id="content" class="content">
          <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir="rtl">

      <!-- productCode Column -->
      <!-- <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef > كود النوعية </th>
        <td mat-cell *matCellDef="let row"> {{row.code}} </td>
      </ng-container> -->
      <!-- productName Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef > المؤهل </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- category Column -->
      <ng-container matColumnDef="qualitativeGroupName">
        <th mat-header-cell *matHeaderCellDef > المجموعة النوعية </th>
        <td mat-cell *matCellDef="let row"> {{row.qualitativeGroupName}}</td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 25%;" >الإجراء</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editQualification(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteQualification(row.id)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">لا توجد بيانات"{{input.value}}"</td>
      </tr>

    </table>
  </div>

  </mat-card-content>
  <br>
  <mat-card-footer>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
  </mat-card-footer>
</mat-card>