<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل المعدات   ' : 'إضافةالمعدات جديد'}}</h1>
  <form [formGroup]="equipmentForm" dir="rtl">
      <div mat-dialog-content>
        <form [formGroup]="equipmentForm">
        
          <mat-form-field appearance="outline">
            <mat-label>الاسم</mat-label>
            <input formControlName="name" matInput placeholder="ادخل الاسم">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>الكود</mat-label>
            <input formControlName="code" matInput placeholder="ادخل الكود">
          </mat-form-field>
          <mat-label>اسم مركز التكاليف

            
          </mat-label>
          <mat-form-field appearance="outline">
            <input matInput aria-label="costCenter" [matAutocomplete]="autoCostCenter" [formControl]="costCenterCtrl"
              placeholder="{{getModelData  ? getModelData.subRegionName : ''}}" (click)="openAutoCostCenter()" required />
            <mat-autocomplete #autoCostCenter="matAutocomplete" [displayWith]="displayCostCenterName"
              (optionSelected)="costCenterSelected($event)">
              <mat-option *ngFor="let costCenter of filteredCostCenteres | async" [value]="costCenter">
                {{ costCenter.name }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button class="savebtn"  (click)="addPlant()" style="margin-left: 8px;">{{actionBtn}}</button>
      </div>
    </form>

