<div class="cdk-overlay-pane  ">
  <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
</div>
<h1 mat-dialog-title class="add-h1">{{editData? '  تعديل صنف حساب  ' : 'إضافة صنف حساب جديد'}}</h1>
<form [formGroup]="accountItemForm" dir="rtl">
    <h1 mat-dialog-title>إضافة صنف حساب جديد  </h1>
    <div mat-dialog-content>
      <form [formGroup]="accountItemForm">        
        <mat-form-field appearance="outline">
          <mat-label>الاسم </mat-label>
          <input formControlName="name" matInput placeholder="ادخل الاسم">
        </mat-form-field>
        <mat-label>الحساب</mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="account" [matAutocomplete]="autoaccount" [formControl]="accountCtrl"
            placeholder="{{getAccountItemData ? getAccountItemData.accounName : ''}}" (click)="openAutoFiAccountItem()" required />
          <mat-autocomplete #autoaccount="matAutocomplete" [displayWith]="displayAccountName"
            (optionSelected)="accountSelected($event)">
            <mat-option *ngFor="let account of filteredAccounts | async" [value]="account">
              {{ account.name }} | {{ account.code }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-label>تصنيف الحساب</mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="itemcategory" [matAutocomplete]="itemcategory" [formControl]="accountItemCategoryCtrl"
            placeholder="{{getAccountItemCategoryData ? getAccountItemCategoryData.accountItemCategoryName : ''}}" (click)="openAutoAccountItemCategory()" required />
          <mat-autocomplete #itemcategory="matAutocomplete" [displayWith]="displayAccountItemCategory"
            (optionSelected)="ItemCategorySelected($event)">
            <mat-option *ngFor="let itemCategory of filteredAccountItemCategory | async" [value]="itemCategory">
              {{ itemCategory.name }} | {{ itemCategory.id }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button class="savebtn" (click)="addFiAccountItem()" >{{actionBtn}}</button>
    </div>
  </form>
