
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل اذن حضور   ' : ' إضافة اذن حضور'}}</h1> 
  <form [formGroup]="HrAttendancePermissionForm" dir="rtl">    
      <div mat-dialog-content>
        <form [formGroup]="HrAttendancePermissionForm">
      
          <mat-form-field appearance="outline">
            <mat-label> اذن الحضور</mat-label>
            <input formControlName="name" matInput placeholder="اذن الحضور">
          </mat-form-field>
        </form> 
      </div> 
      <div mat-dialog-actions>
      <button mat-raised-button class="savebtn" (click)="addHrAttendancePermission()" style="margin-left: 8px;">{{actionBtn}}</button> 
      </div>
      </form>
  