<div class="cdk-overlay-pane  ">
    <button class="close" mat-button mat-dialog-close> <mat-icon> clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? ' تعديل منصب الموظف ' : ' إضافة منصب موظف جديد'}}</h1>

<!-- <form [formGroup]="HrEmployeePosition" dir="rtl"> -->
<div dir="rtl">
    <div mat-dialog-content>
        <form [formGroup]="HrEmployeePosition">

            <div class="child1">
                <mat-label>الموظف</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput aria-label="employee" [matAutocomplete]="autoEmployee" [formControl]="employeeCtrl"
                    placeholder="{{getEmployeeData ? getEmployeeData.employeeName : ''}}" (click)="openAutoemployee()" required />
                  <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployeeName"
                    (optionSelected)="employeeSelected($event)">
                    <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee">
                      {{ employee.name }} 
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="child1">
                <mat-label>المنصب</mat-label>
      
                <mat-form-field appearance="outline">
                  <input matInput aria-label="specialization" [matAutocomplete]="autoPosition" [formControl]="positionCtrl"
                    placeholder="{{getEmployeeData ? getEmployeeData.positionName : ''}}" (click)="openAutoPosition()" required />
                  <mat-autocomplete #autoPosition="matAutocomplete" [displayWith]="displayPositionName"
                    (optionSelected)="positionSelected($event)">
                    <mat-option *ngFor="let position of filteredPosition | async" [value]="position">
                      {{ position.name }} 
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="child1">
                <mat-label>مكان العمل</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput aria-label="workPlace" [matAutocomplete]="autoWorkPlace" [formControl]="workPlaceCtrl"
                    placeholder="{{getEmployeeData ? getEmployeeData.workPlaceName : ''}}" (click)="openAutoWorkPlace()" required />
                  <mat-autocomplete #autoWorkPlace="matAutocomplete" [displayWith]="displayWorkPlaceName"
                    (optionSelected)="workPlaceSelected($event)">
                    <mat-option *ngFor="let workPlace of filteredWorkPlace | async" [value]="workPlace">
                      {{ workPlace.name }} 
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>    

            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>التاريخ</mat-label>

                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- </div> -->

        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="savebtn" (click)="addHrEmployeePosition()"
            style="margin-left: 8px;">{{actionBtn}}</button>
    </div>
</div>
<!-- </form> -->