<!-- <p>str-opening-stock-details-dialog works!</p> -->
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button (click)="addDetailsInfo()" mat-dialog-close> <mat-icon>
            clear</mat-icon></button>
</div>

<form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()">


    <div class="allform">
        <!-- <div [ngClass]="(MasterGroupInfoEntered || editDataDetails) ? 'restGroupInfo' : 'restGroupInfoDisable'"> -->
        
        
            <h1 mat-dialog-title class="add-h1"> اكمل تفاصيل الإفتتاحي </h1>
        <div class="detailsForm" dir="rtl">

            <!-- <div style="display: flex; width: 100%; justify-content: space-between;"> -->

                <!-- <div  > -->
                    <mat-label>بحث بالكود*</mat-label>

                    <mat-form-field appearance="outline" class=" child-num" style="width: 80%;">
                        <input matInput placeholder="الكود" (keydown)="getItemByCode($event)" placeholder="{{editData ? editData.fullCode : ''}}" [value]="fullCodeValue && fullCodeValue != '-' ? fullCodeValue : fullCodeValue && fullCodeValue == '-' ? 'لا يوجد' : '' ">
                    </mat-form-field>
                <!-- </div> -->


                <!-- <mat-form-field appearance="outline" class="groupInput">
                    <mat-label> الصنف</mat-label>
                    <mat-select placeholder="الصنف" formControlName="itemId"
                        [value]="editData ? editData.itemId : ''"
                        (valueChange)="itemOnChange($event)">
                        <mat-option [value]="item.id" *ngFor="let item of itemsList">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <div style="display: flex; flex-direction: column; width: 30%;"> -->
                    <mat-label>الصنف*</mat-label>
                    <mat-form-field appearance="outline" class="child-num" style="width: 80%;">
                        <input matInput aria-label="commodity" [matAutocomplete]="autoItemId"
                            [formControl]="itemCtrl"
                            placeholder="{{editData && !itemByFullCodeValue ? editData.itemName : itemByFullCodeValue && itemByFullCodeValue != '-' ? itemByFullCodeValue : itemByFullCodeValue && itemByFullCodeValue == '-' ? 'لا يوجد' : ''}}"
                            (click)="openAutoItem()" required />
                        <mat-autocomplete #autoItemId="matAutocomplete" [displayWith]="displayItemName"
                            (optionSelected)="ItemSelected($event)">
                            <mat-option *ngFor="let item of filteredItem | async" [value]="item">
                                <!-- {{ item.name }} | {{ item.id }} -->
                                {{ item.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                <!-- </div> -->


                <!-- <div style="display: flex; flex-direction: column; width: 15%; "> -->
                 <div style="display: flex;flex-direction: row;">
                    <div style="display: flex;flex-direction: column; width: 18rem;">
                        <mat-label>الكمية*</mat-label>

                    <mat-form-field appearance="outline" class=" child-num" style="width: 92%;">
                        <input type="number" min="0" matInput placeholder="الكمية" formControlName="qty"
                            [value]="editData ? editData.qty : '1'">
                    </mat-form-field>
                    </div>
                <!-- </div> -->

                <!-- <div style="display: flex; flex-direction: column; width: 20%;"> -->
                   <div style="display: flex;flex-direction: column;width: 25rem;">
                    <mat-label>متوسط السعر*</mat-label>

                    <mat-form-field appearance="outline" class="child-num" style="width: 92%;">
                        <input matInput placeholder="الرقم" type="number" min="0"
                            [value]="editData ? editData.price : ''" formControlName="price"
                            [readonly]="isReadOnly">
                    </mat-form-field>
                   </div>
                 </div>
                <!-- </div> -->

                <!-- <div style="margin-top: 5%; margin-right: 2%;">
                    <button mat-raised-button color="warn"
                        (click)="resetControls()">مسح</button>
                </div> -->
            <!-- </div> -->



        </div>
        <div mat-dialog-action [align]="'end'" style="display: flex; margin-right: -5%;margin-top: 0%;">
            <div class="groupAction">
                <button mat-raised-button class="savebtn"
                    (click)="addDetailsInfo()">{{actionBtnDetails.toLowerCase() =='save' ?
                    'اضافة':'تعديل'}}</button>

            </div>

        </div>

    </div>

</form>