<!-- <p>fi-entry-details-dialog works!</p> -->
<form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()">

    <!-- <div [ngClass]="(MasterGroupInfoEntered || editDataDetails) ? 'restGroupInfo' : 'restGroupInfoDisable'"> -->

        

        <div class="detailsForm" dir="rtl" style="margin: 5%;">
            
            <mat-form-field appearance="outline" class="groupInput">
                <mat-label> الحساب </mat-label>
                <mat-select placeholder="الحساب " formControlName="accountId"
                    [value]="getDetailedRowData ? getDetailedRowData.accountId : ''">
                    <mat-option [value]="account.id" *ngFor="let account of accountsList">{{account.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="groupInput">
                <mat-label> صنف الحساب </mat-label>
                <mat-select placeholder="صنف الحساب " formControlName="fiAccountItemId"
                    [value]="getDetailedRowData ? getDetailedRowData.fiAccountItemId : ''">
                    <mat-option [value]="accountItem.id" *ngFor="let accountItem of accountItemsList">{{accountItem.accounName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="groupInput">
                <mat-label>الائتمان</mat-label>
                <input type="number" matInput placeholder="الائتمان" formControlName="credit"
                    [value]="getDetailedRowData ? getDetailedRowData.credit : ''">
            </mat-form-field>

            <mat-form-field appearance="outline" class="groupInput">
                <mat-label>المدين</mat-label>
                <input type="number" matInput placeholder="المدين" formControlName="debit"
                    [value]="getDetailedRowData ? getDetailedRowData.debit : ''">
            </mat-form-field>

            <div mat-dialog-action [align]="'end'">
                <div class="groupAction">
                    <button mat-raised-button color="primary" style="margin-left: 8px;"
                        (click)="addDetailsInfo()">{{actionBtnDetails.toLowerCase() =='save' ?
                        'اضافة':'تعديل'}}</button>
                    <button mat-raised-button color="warn" mat-dialog-close>اغلاق</button>
                </div>
            </div>
        </div>
    <!-- </div> -->

</form>