<div class="cdk-overlay-pane  ">
    <button class="close" mat-button (click)="closeDialog()" mat-dialog-close> <mat-icon>
            clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1"> اكمل تفاصيل القيد </h1>


<form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()" style="overflow: hidden !important;">



    <div style="overflow: hidden !important;">
        <div class="detailsForm" dir="rtl">

            <div style="display: flex; flex-direction: column;">
                <mat-label> الحساب* </mat-label>

                <mat-form-field appearance="outline" class="child-num" style="width: 100%;">
                    <input matInput aria-label="commodity" [matAutocomplete]="autoAccount" [formControl]="accountCtrl"
                        placeholder="{{editData ? editData.accountName : ''}}" (click)="openAutoAccount()" required />
                    <mat-autocomplete #autoAccount="matAutocomplete" [displayWith]="displayAccountName"
                        (optionSelected)="AccountSelected($event)">
                        <mat-option *ngFor="let account of filteredAccount | async" [value]="account">
                            {{ account.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>

            <!-- <div class="searchLabels">
                <mat-label> الحساب </mat-label>

                <mat-form-field appearance="outline" class="groupInput">
                    <mat-select placeholder="الحساب " formControlName="accountId"
                        [value]="getDetailedRowData ? getDetailedRowData.accountId : ''">
                        <mat-option [value]="account.id"
                            *ngFor="let account of accountsList">{{account.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <!-- <div class="searchLabels">
                <mat-label> صنف الحساب </mat-label>

                <mat-form-field appearance="outline" class="groupInput">
                    <mat-select placeholder="صنف الحساب " formControlName="fiAccountItemId"
                        [value]="getDetailedRowData ? getDetailedRowData.fiAccountItemId : ''">
                        <mat-option [value]="accountItem.id"
                            *ngFor="let accountItem of accountItemsList">{{accountItem.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <div style="display: flex; flex-direction: column;">
                <mat-label> صنف الحساب* </mat-label>

                <mat-form-field appearance="outline" class="child-num" style="width: 100%;">
                    <input matInput aria-label="commodity" [matAutocomplete]="autoAccountItem"
                        [formControl]="accountItemCtrl" placeholder="{{editData ? editData.accountItemName : ''}}"
                        (click)="openAutoAccountItem()" required />
                    <mat-autocomplete #autoAccountItem="matAutocomplete" [displayWith]="displayAccountItemName"
                        (optionSelected)="AccountItemSelected($event)">
                        <mat-option *ngFor="let accountItem of filteredAccountItem | async" [value]="accountItem">
                            {{ accountItem.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>

            <div class="searchLabels">
                <mat-label>الائتمان*</mat-label>

                <mat-form-field appearance="outline" class="groupInput">
                    <input type="number" matInput placeholder="الائتمان" formControlName="credit"
                        [value]="editData ? editData.credit : ''">
                </mat-form-field>

            </div>


            <div class="searchLabels">
                <mat-label>المدين*</mat-label>

                <mat-form-field appearance="outline" class="groupInput">
                    <input type="number" matInput placeholder="المدين" formControlName="debit"
                        [value]="editData ? editData.debit : ''">
                </mat-form-field>
            </div>

            <div mat-dialog-action [align]="'end'">
                <div class="groupAction">
                    <button mat-raised-button color="primary" style="margin-left: 8px;"
                        (click)="addDetailsInfo()">{{actionBtnDetails.toLowerCase() =='save' ?
                        'اضافة':'تعديل'}}</button>
                    <!-- <button mat-raised-button color="warn" mat-dialog-close (click)="getAllMasterForms()">اغلاق</button> -->
                </div>
            </div>
        </div>
    </div>

</form>