<div class="cdk-overlay-pane  ">
  <button class="close" mat-button mat-dialog-close> <mat-icon> clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? ' تعديل جدول حضور الموظفين ' : ' إضافة جدول حضور موظفين جديد'}}</h1>
<form [formGroup]="EmployeeAttendanceScheduleForm" dir="rtl">
<div mat-dialog-content>
  <form [formGroup]="EmployeeAttendanceScheduleForm">
    <div class="child1">
    <mat-label>اسم الجدول</mat-label>
    <mat-form-field appearance="outline">
      <input formControlName="name" matInput />
    </mat-form-field>
    </div>
    
    <div class="child1">
    <mat-label>الموظف</mat-label>
    <mat-form-field appearance="outline">
      <input matInput aria-label="employee" [matAutocomplete]="autoEmployee" [formControl]="employeeCtrl"
        placeholder="{{ getEmployeeAttendanceScheduleData ? getEmployeeAttendanceScheduleData.employeeName : '' }}" 
        (click)="openAutoEmployee()" required />
      <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployeeName"
        (optionSelected)="employeeSelected($event)">
        <mat-option *ngFor="let employee of filteredEmployees | async" [value]="employee">
          {{ employee.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </div>
    <div class="child1">
      <mat-label>جدول الحضور</mat-label>
      <mat-form-field appearance="outline">
        <input matInput aria-label="attendanceSchedule" [matAutocomplete]="autoAttendanceSchedule" [formControl]="attendanceScheduleCtrl"
        placeholder="{{ getEmployeeAttendanceScheduleData ? getEmployeeAttendanceScheduleData.attendanceScheduleName : '' }}" 
          (click)="openAutoAttendanceSchedule()" required />
        <mat-autocomplete #autoAttendanceSchedule="matAutocomplete" [displayWith]="displayAttendanceScheduleName"
          (optionSelected)="attendanceScheduleSelected($event)">
          <mat-option *ngFor="let attendanceSchedule of filteredAttendanceSchedules | async" [value]="attendanceSchedule">
            {{ attendanceSchedule.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
      <div class="child1">
        <mat-label>اذن الحضور</mat-label>
        <mat-form-field appearance="outline">
          <input matInput aria-label="attendancePermission" [matAutocomplete]="autoAttendancePermission" [formControl]="attendancePermissionCtrl"
          placeholder="{{ getEmployeeAttendanceScheduleData ? getEmployeeAttendanceScheduleData.attendancePermissionName : '' }}" 
          (click)="openAutoAttendancePermission()" required />
          <mat-autocomplete #autoAttendancePermission="matAutocomplete" [displayWith]="displayAttendancePermissionName"
            (optionSelected)="attendancePermissionSelected($event)">
            <mat-option *ngFor="let attendancePermission of filteredAttendancePermissions | async" [value]="attendancePermission">
              {{ attendancePermission.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </div>
        
    <button mat-raised-button class="savebtn" (click)="addEmployeeAttendanceSchedule()" style="margin-left: 8px">
      {{ actionBtn }}
    </button>
  </form>
</div>
</form>