<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap"
  rel="stylesheet"
/>
<div class="container">
  <div class="main-content">
    <div class="div1">
      <div class="logo">
        <img
          src="../../../assets/images/water logo.png"
          alt=""
          class="img"
          width="130"
        />
        <p class="paragraph">شركة مياه الشرب والصرف الصحي بأسوان</p>
      </div>
    </div>
    <div class="div2">
      <form
        class="login-form"
        [formGroup]="loginForm"
        (ngSubmit)="handleSubmit()"
      >
        <p>تسجيل الدخول</p>
        <label for="" class="details">اسم المستخدم</label>
        <input
          dir="rtl"
          type="text"
          class="form-control"
          formControlName="name"
          autocomplete="off"
          autofocus="false"
        />
        <div *ngIf="isSubmit && userName?.invalid">
          <div
            class="alert alert-danger"
            *ngIf="userName?.errors?.['required']"
          >
            ادخل اسم المستخدم
          </div>
        </div>

        <label for="" class="details">كلمة المرور </label>
        <input
          dir="rtl"
          type="password"
          class="form-control"
          formControlName="password"
          autocomplete="off"
        />
        <div *ngIf="isSubmit && userPassword?.invalid">
          <div
            class="alert alert-danger"
            *ngIf="userPassword?.errors?.['required']"
          >
            ادخل كلمة المرور
          </div>
        </div>

        <!-- <div class="alert alert-danger" *ngIf="isSubmit && userData?.['password']?.invalid">
                <div *ngIf="userData?.errors?.['required']">password is required</div>
            </div> -->
        <button class="btn">الدخول</button>

        <div *ngIf="isSubmit && userPassword?.invalid">
          <div class="alert alert-danger" *ngIf="isSubmit && isActive == false">
            عفوا لا تمتلك صلاحية الدخول
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
