<!-- <p>pr-user-change-password-dialog works!</p>
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button (click)="closeDialog()" mat-dialog-close> <mat-icon>
            clear</mat-icon></button>
</div> -->

<h1 mat-dialog-title class="add-h1"> تغيير كلمة السر </h1>


<form [formGroup]="changePasswordForm" style="overflow: hidden !important;">



    <div style="overflow: hidden !important;">
        <div class="detailsForm" dir="rtl">

            <div style="display: flex; flex-direction: column;">
                <div style="display: flex; justify-content: space-around;">
                    <div class="searchLabels">
                        <mat-label>الاسم*</mat-label>
    
                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="الاسم" formControlName="name">
                        </mat-form-field>
                    </div>
    
                    <div class="searchLabels">
                        <mat-label>الرقم السرى الحالى*</mat-label>
    
                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="الرقم السرى الحالى" formControlName="currentPassword" type="password">
                        </mat-form-field>
                    </div>
    
                </div>

                <div style="display: flex; justify-content: space-around;">
                    <div class="searchLabels">
                        <mat-label>الرقم السرى الجديد*</mat-label>
    
                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="الرقم السرى الجديد" formControlName="password" type="password">
                        </mat-form-field>
                    </div>
    
                    <div class="searchLabels">
                        <mat-label>تاكيد الرقم السرى الجديد*</mat-label>
    
                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="تاكيد الرقم السرى الجديد" formControlName="confirmPassword" type="password">
                        </mat-form-field>
                    </div>
    
                </div>
                
            </div>

            <div mat-dialog-action [align]="'end'">
                <div class="groupAction">
                    <button mat-raised-button color="primary" style="margin-left: 5%;"
                        (click)="updateUserInfo()">تعديل</button>
                </div>
            </div>
        </div>
    </div>

</form>