
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل الدرجة   ' : ' إضافة درجة'}}</h1>
  <form [formGroup]="unitsForm" dir="rtl">
    <div mat-dialog-content>
      <form [formGroup]="unitsForm">
        
        <mat-form-field appearance="outline">
          <mat-label>الاسم</mat-label>
          <input formControlName="name" matInput placeholder="الاسم">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>سنةالحصول درجة </mat-label>
            <input formControlName="noYear" matInput placeholder="سنة حصول الدرجة ">
          </mat-form-field>
        <button mat-raised-button class="savebtn" (click)="addUnits()">{{actionBtn}}</button> 
      </form>
    </div>
   
   
   
    </form>
  