<!-- <p>str-employee-exchange-details-dialog works!</p> -->
<div class="text-center w=100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<div class="cdk-overlay-pane">
  <button class="close" mat-button (click)="closeDialog()" mat-dialog-close>
    <mat-icon> clear</mat-icon>
  </button>
</div>
<form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()">
  <div class="allform" style="margin-top: -10px; overflow-x: hidden !important">
    <!-- <div [ngClass]="(MasterGroupInfoEntered || editDataDetails) ? 'restGroupInfo' : 'restGroupInfoDisable'"> -->

    <h1 mat-dialog-title class="add-h1">اكمل تفاصيل نقل العهدة</h1>
    <div class="detailsForm" dir="rtl">
      <mat-accordion style="margin-bottom: 2%" multi dir="rtl">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              بحث بالمنتج
              <mat-icon style="text-align: left">search</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="searchbyproduct">
            <div class="serPro">
              <mat-label>بحث بكود المنتج </mat-label>

              <mat-form-field appearance="outline" class="groupInput">
                <input matInput (keydown)="getItemByProductCode($event)" />
              </mat-form-field>
            </div>

            <div class="serPro">
              <mat-label>بحث باسم المنتج </mat-label>
              <mat-form-field appearance="outline" class="groupInput" *ngIf="!loading">
                <input matInput aria-label="commodity" [matAutocomplete]="autoProductId" [formControl]="productCtrl"
                  placeholder="{{ productIdValue ? productIdValue : '' }}" (click)="openAutoProduct()" required />
                <mat-autocomplete #autoProductId="matAutocomplete" [displayWith]="displayProductName"
                  (optionSelected)="ProductSelected($event)">
                  <mat-option *ngFor="let product of filteredProduct | async" [value]="product">
                    {{ product.name }} | {{ product.code }}
                    <!-- {{ product.name }} -->
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <!-- </div> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="parent">
        <div class="child-num">
          <mat-label>بحث بالكود*</mat-label>

          <mat-form-field appearance="outline" class="groupInput">
            <input matInput placeholder="الكود" (keydown)="getItemByCode($event)"
              placeholder="{{ editData ? editData.fullCode : '' }}" [value]="
                fullCodeValue && fullCodeValue != '-'
                  ? fullCodeValue
                  : fullCodeValue && fullCodeValue == '-'
                  ? 'لا يوجد'
                  : ''
              " />
          </mat-form-field>
        </div>
        <div class="child-num">
          <mat-label>الصنف*</mat-label>
          <mat-form-field appearance="outline" class="groupInput" *ngIf="!loading">
            <input matInput aria-label="commodity" [matAutocomplete]="itemId" [formControl]="itemsCtrl" placeholder="{{
                editData && !itemByFullCodeValue
                  ? editData.itemName
                  : itemByFullCodeValue && itemByFullCodeValue != '-'
                  ? itemByFullCodeValue
                  : itemByFullCodeValue && itemByFullCodeValue == '-'
                  ? 'لا يوجد'
                  : ''
              }}" (click)="openAutoItem()" required />
            <mat-autocomplete #itemId="matAutocomplete" [displayWith]="displayItemName"
              (optionSelected)="ItemSelected($event)">
              <mat-option *ngFor="let item of filtereditems | async" [value]="item">
                {{ item.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="child-num">
          <mat-label>الكمية*</mat-label>

          <mat-form-field appearance="outline" class="groupInput">
            <input type="number" min="0" matInput placeholder="الكمية" formControlName="qty"
              [value]="editData ? editData.qty : '1'" />
          </mat-form-field>
        </div>
        <!-- </div> -->

        <!-- <div style="display: flex; flex-direction: column; width: 20%;"> -->
        <div class="child-num">
          <mat-label>السعر</mat-label>

          <mat-form-field appearance="outline" class="groupInput">
            <input type="number" min="0" matInput placeholder="السعر" formControlName="price"
              [value]="editData ? editData.price : ''" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-label>الحالة</mat-label>

        <mat-radio-group aria-label="Select an option" formControlName="state"
          style="display: flex; flex-direction: row" [value]="editData ? editData.state : stateDefaultValue">
          <div class="statusRadioBtns">
            <mat-radio-button value="جديد">جديد</mat-radio-button>
            <mat-radio-button value="مستعمل">مستعمل</mat-radio-button>
            <mat-radio-button value="قابل للاصلاح">قابل للاصلاح</mat-radio-button>
            <mat-radio-button value="كهنة و خردة">كهنة و خردة</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
    <div mat-dialog-action [align]="'end'" style="display: flex; margin-right: -5%; margin-top: 0%">
      <div class="groupAction">
        <button mat-raised-button class="savebtn" (click)="addDetailsInfo()">
          {{ actionBtnDetails.toLowerCase() == "save" ? "اضافة" : "تعديل" }}
        </button>
      </div>
    </div>
  </div>

</form>