
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل المنصب    ' : 'إضافة  المنصب '}}</h1>
  

<div mat-dialog-content dir="rtl" >
    <form [formGroup]="groupForm">
        <mat-label>اسم المنصب</mat-label>

        <mat-form-field appearance="outline" class="groupInput">
            <input matInput placeholder="اسم  المنصب" formControlName="name">
        </mat-form-field>

    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <div class="groupAction">
        <button mat-raised-button  class="savebtn" style="margin-left: 8px;"
            (click)="addPosition()">{{actionBtn.toLowerCase() =='save' ? 'اضافة':'تعديل'}}</button>
    </div>
</div>