<div class="text-center w=100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<div class="cdk-overlay-pane" >
    <button class="close" mat-button mat-dialog-close> <mat-icon> clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1" >{{editData? ' تعديل منتج ' : ' إضافة منتج جديد'}}</h1>
<form [formGroup]="productForm" dir="rtl" >
  
  <div mat-dialog-content >
    <form [formGroup]="productForm">
      <mat-form-field appearance="outline" >
        <mat-label>الكود </mat-label>
        <input formControlName="code" matInput placeholder="ادخل كود المخزن" [value]="editData ? editData.code : autoCode" readonly>        
    </mat-form-field>
      <div class="child1">
      <mat-label>اسم المنتج</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="name" matInput />
      </mat-form-field>
      </div>
      <div class="child1">
      <mat-label>الصنف</mat-label>
      <mat-form-field appearance="outline" *ngIf="!loading">
        <input matInput aria-label="item" [matAutocomplete]="autoItem" [formControl]="itemCtrl"
          placeholder="{{ getProductData ? getProductData.itemName : '' }}" 
          (click)="openAutoItem()" required />
        <mat-autocomplete #autoItem="matAutocomplete" [displayWith]="displayItemName"
          (optionSelected)="itemSelected($event)">
          <mat-option *ngFor="let item of filteredItems | async" [value]="item">
            {{ item.name ? item.name : '-' }} 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
      <div class="child1">
        <mat-label>المصنع</mat-label>
        <mat-form-field appearance="outline"  >
          <input matInput aria-label="vendor" [matAutocomplete]="autoVendor" [formControl]="vendorCtrl"
            placeholder="{{ getProductData ? getProductData.vendorName : '' }}" 
            (click)="openAutoVendor()" required />
          <mat-autocomplete #autoVendor="matAutocomplete" [displayWith]="displayVendorName"
            (optionSelected)="vendorSelected($event)">
            <mat-option *ngFor="let vendor of filteredVendors | async" [value]="vendor">
            {{ vendor.name ? vendor.name : '-' }} 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </div>
        <div class="child1">
          <mat-label>الموديل</mat-label>
          <mat-form-field appearance="outline" >
            <input matInput aria-label="model" [matAutocomplete]="autoModel" [formControl]="modelCtrl"
              placeholder="{{ getProductData ? getProductData.modelName : '' }}" 
              (click)="openAutoModel()" required />
            <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayModelName"
              (optionSelected)="modelSelected($event)">
              <mat-option *ngFor="let model of filteredModels | async" [value]="model">
                {{ model.name ? model.name : '-' }} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          </div>
          
      <button mat-raised-button class="savebtn" (click)="addProduct()" style="margin-left: 8px">
        {{ actionBtn }}
      </button>
    </form>
  </div>
</form>