<!-- <p>str-add-details-dialog works!</p> -->
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button (click)="getAllDetailsForms()" mat-dialog-close> <mat-icon>
            clear</mat-icon></button>
  </div>
  <form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()" style="overflow: hidden !important;">
  
  
    <div style="overflow: hidden !important;">
        <h1 mat-dialog-title class="add-h1"> اكمل تفاصيل الجرد اليدوي  </h1>
  
        <div class="detailsForm" dir="rtl" style="overflow: hidden !important;">
            <!-- <div class="row"> -->
  
            <mat-label>بحث بالكود </mat-label>
  
            <mat-form-field appearance="outline" class="groupInput"style="width: 70%;">
                <input matInput placeholder="{{editData ? editData.fullCode : ''}}" (keydown)="getItemByCode($event)" [value]="fullCodeValue && fullCodeValue != '-' ? fullCodeValue : fullCodeValue && fullCodeValue == '-' ? 'لا يوجد' : '' ">
            </mat-form-field>
  
  
  
            <mat-label> الصنف*</mat-label>
  
            <mat-form-field appearance="outline" class="groupInput" style="width: 70%;">
                <input matInput aria-label="item" [matAutocomplete]="autoItem" [formControl]="itemCtrl"
                placeholder="{{editData && !itemByFullCodeValue ? editData.itemName : itemByFullCodeValue && itemByFullCodeValue != '-' ? itemByFullCodeValue : itemByFullCodeValue && itemByFullCodeValue == '-' ? 'لا يوجد' : ''}}" (click)="openAutoItem()" required />
                <mat-autocomplete #autoItem="matAutocomplete" [displayWith]="displayItemName"
                    (optionSelected)="ItemSelected($event)">
                    <mat-option *ngFor="let item of filteredItem | async" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
  
            <div style="display: flex;flex-direction: row;">
              <div style="display: flex;flex-direction: column; width: 18rem;">
                  <mat-label>الكمية*</mat-label>
  
              <mat-form-field appearance="outline" class=" child-num" style="width: 94%;">
                  <input type="number" min="0" matInput placeholder="الكمية" formControlName="qty"
                      [value]="editData ? editData.qty : '1'">
              </mat-form-field>
              </div>
          <!-- </div> -->
  
          <!-- <div style="display: flex; flex-direction: column; width: 20%;"> -->


             
            <div style="display: flex;flex-direction: column; width: 17rem;">
                <mat-label>كمية السيستم</mat-label>
        
                <mat-form-field appearance="outline" class="groupInput" style="width: 94%;">
                    <input type="number"  matInput placeholder=" الكمية في السيستم"  formControlName="systemQty" readonly=""
                        [value]="editData ? editData.systemQty : '1'">
                </mat-form-field>
               </div>


        
            </div>
           
         <!-- </div> -->
  <div style="display: flex;flex-direction: row;width: 15rem;">
  
    <div style="display: flex;flex-direction: column;width: 11rem;">
        <mat-label>السعر</mat-label>

        <mat-form-field appearance="outline" class="groupInput" style="width: 93%;">
            <input type="number" min="0" matInput placeholder="السعر" formControlName="price"
                [value]="editData ? editData.price : ''">
        </mat-form-field>
       </div>
   
       <div style="display: flex;flex-direction: column;width: 13rem;">
        <mat-label>فرق الكمية</mat-label>

        <mat-form-field appearance="outline" class="groupInput" style="width: 92%;">
            <input type="number" min="0" matInput placeholder="فرق الكمية"  formControlName="balance"
                [value]="editData ? editData.balance : ''">
        </mat-form-field>
       </div>

   </div>
   <div style="display: flex;flex-direction: column;width: 11rem;">
    <mat-label> الملاحظات*</mat-label>

<mat-form-field appearance="outline" class="groupInput" style="width:93% ;">
    <input matInput  placeholder="الملاحظات" formControlName="notes"
        [value]="editData ? editData.notes : ''" >
</mat-form-field>
</div>
  
            <div mat-dialog-action [align]="'end'">
                <div class="groupAction">
                    <button mat-raised-button color="primary" style="margin-left: 8px;"
                        (click)="addDetailsInfo()">{{actionBtnDetails.toLowerCase() =='save' ?
                        'اضافة':'تعديل'}}</button>
                </div>
            </div>
  
        </div>
  
    </div>
  
  </form>