<div class="page-title">المناقصات </div>

<mat-card-header dir="ltr">
    <div class="child1 ">
        <button mat-raised-button class="add" (click)="openDialog()" dir="ltr">

            <span class="ms-2">اضافة</span> <mat-icon class="me-1">add</mat-icon>
        </button>
    </div>

    <div>
        <input matInput class="filter-search" (keyup)="applyFilter($event)" placeholder="بحث" #input />
    </div>
</mat-card-header>


<div class="div-table">

    <table matSort mat-table [dataSource]="dataSource" dir="rtl">
        <!-- code Column -->
        <ng-container matColumnDef="code" class="text-center">
            <th *matHeaderCellDef class="TableCenter" style="width: 25%;">الكود </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.code }}</td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name" class="text-center">
            <th *matHeaderCellDef class="TableCenter">الاسم </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.name }}</td>
        </ng-container>

        <!-- cityStateName Column -->
        <ng-container matColumnDef="cityStateName" class="text-center">
            <th *matHeaderCellDef class="TableCenter">المركز </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.cityStateName }}</td>
        </ng-container>

        <!-- operationTypeName Column -->
        <ng-container matColumnDef="operationTypeName" class="text-center">
            <th *matHeaderCellDef class="TableCenter">نوع العملية </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.operationTypeName }}</td>
        </ng-container>

        <!-- planTypeName Column -->
        <ng-container matColumnDef="planTypeName" class="text-center">
            <th *matHeaderCellDef class="TableCenter">نوع الخطة </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.planTypeName }}</td>
        </ng-container>

        <!-- tenderTypeName Column -->
        <ng-container matColumnDef="tenderTypeName" class="text-center">
            <th *matHeaderCellDef class="TableCenter">طريقة الطرح </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.tenderTypeName }}</td>
        </ng-container>

        <!-- value Column -->
        <ng-container matColumnDef="value" class="text-center">
            <th *matHeaderCellDef class="TableCenter">القيمة </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.value }}</td>
        </ng-container>

        <!-- torValue Column -->
        <ng-container matColumnDef="torValue" class="text-center">
            <th *matHeaderCellDef class="TableCenter">القمة الى </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.torValue }}</td>
        </ng-container>

        <!-- tenderBondValue Column -->
        <ng-container matColumnDef="tenderBondValue" class="text-center">
            <th *matHeaderCellDef class="TableCenter">قيمة سند المناقصة </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.tenderBondValue }}</td>
        </ng-container>

        <!-- estimatingValue Column -->
        <ng-container matColumnDef="estimatingValue" class="text-center">
            <th *matHeaderCellDef class="TableCenter">القيمة المقدرة </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.estimatingValue }}</td>
        </ng-container>

        <!-- awardValue Column -->
        <ng-container matColumnDef="awardValue" class="text-center">
            <th *matHeaderCellDef class="TableCenter">قيمة الجائزة </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.awardValue }}</td>
        </ng-container>

        <!-- period Column -->
        <ng-container matColumnDef="period" class="text-center">
            <th *matHeaderCellDef class="TableCenter">المدة </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.period }}</td>
        </ng-container>

        <!-- date Column -->
        <ng-container matColumnDef="date" class="text-center">
            <th *matHeaderCellDef class="TableCenter">التاريخ </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.date | date }}</td>
        </ng-container>

        <!-- awardLetterDate Column -->
        <ng-container matColumnDef="awardLetterDate" class="text-center">
            <th *matHeaderCellDef class="TableCenter">تاريخ ارسال الجائزة </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.awardLetterDate | date }}</td>
        </ng-container>

        <!-- deliveryDate Column -->
        <ng-container matColumnDef="deliveryDate" class="text-center">
            <th *matHeaderCellDef class="TableCenter">تاريخ التوصيل </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.deliveryDate | date }}</td>
        </ng-container>

        <!-- financialOpeningDate Column -->
        <ng-container matColumnDef="financialOpeningDate" class="text-center">
            <th *matHeaderCellDef class="TableCenter">تاريخ الافتتاح المالى </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.financialOpeningDate | date }}</td>
        </ng-container>

        <!-- financialSelectionDate Column -->
        <ng-container matColumnDef="financialSelectionDate" class="text-center">
            <th *matHeaderCellDef class="TableCenter">تاريخ الاختيار المالى </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.financialSelectionDate | date }}</td>
        </ng-container>

        <!-- technicalOpeningDate Column -->
        <ng-container matColumnDef="technicalOpeningDate" class="text-center">
            <th *matHeaderCellDef class="TableCenter">تاريخ الافتتاح التقنى </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.technicalOpeningDate | date }}</td>
        </ng-container>

        <!-- technicalSelectionDate Column -->
        <ng-container matColumnDef="technicalSelectionDate" class="text-center">
            <th *matHeaderCellDef class="TableCenter">تاريخ الاختيار التقنى </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.technicalSelectionDate | date }}</td>
        </ng-container>

        <!-- workOrderDate Column -->
        <ng-container matColumnDef="workOrderDate" class="text-center">
            <th *matHeaderCellDef class="TableCenter">تاريخ امر الشغل </th>
            <td mat-cell *matCellDef="let row" class="TableCenter">{{ row.workOrderDate | date }}</td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <th *matHeaderCellDef style="width: 15%;" class="TableCenter">الإجراء</th>
            <td mat-cell *matCellDef="let row" class="TableCenter">
                <div id="action2">
                    <button mat-icon-button id="button1" (click)="editProTender(row)" class="editbtn">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button id="button2" color="warn" (click)="deleteProTender(row.id)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
            </td>
        </tr>
    </table>
    <footer id="reportFooter">
        <h3>الأمضاءات</h3>
        <p>مدير إدارة الشركة :</p>
        <p>مدير إدارة المخزن :</p>
    </footer>
    <div class="date" id="date">
    </div>

</div>

<br />

<mat-card-footer>
    <mat-paginator id="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card-footer>