<!-- <p>str-opening-stock-details-dialog works!</p> -->
<div class="text-center w=100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>

<form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()">


    <div class="allform">
        <!-- <div [ngClass]="(MasterGroupInfoEntered || editDataDetails) ? 'restGroupInfo' : 'restGroupInfoDisable'"> -->
        
         <div class="headerTitle">
            <div class="cdk-overlay-pane  ">
                <button class="close" mat-button (click)="closeDialog()" mat-dialog-close> <mat-icon>
                        clear</mat-icon></button>
            </div>
            <h1 mat-dialog-title class="add-h1"> اكمل تفاصيل الرصيد الإفتتاحي </h1>
         </div>
        <div class="detailsForm" dir="rtl">

            <mat-accordion style="margin-bottom: 2%;" multi dir="rtl">

                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                        بحث بالمنتج
                            <mat-icon style="text-align: left;">search</mat-icon>
                        </mat-panel-description>

                    </mat-expansion-panel-header>
                

                    <div class="searchbyproduct">

                       
                        <div class="serPro">
                            <mat-label>بحث بكود المنتج </mat-label>

                            <mat-form-field appearance="outline" class="groupInput" >
                                <input matInput (keydown)="getItemByProductCode($event)">
                            </mat-form-field>
                        </div>

                        <div class="serPro">
                            <mat-label>بحث باسم المنتج </mat-label>
                            <mat-form-field appearance="outline" class="groupInput" >
                                <input matInput aria-label="commodity" [matAutocomplete]="autoProductId"
                                    [formControl]="productCtrl" placeholder="{{productIdValue ? productIdValue : ''}}"
                                    (click)="openAutoProduct()" required />
                                <mat-autocomplete #autoProductId="matAutocomplete" [displayWith]="displayProductName"
                                    (optionSelected)="ProductSelected($event)">
                                    <mat-option *ngFor="let product of filteredProduct | async" [value]="product">
                                        {{ product.name }} | {{ product.code }}
                                        <!-- {{ product.name }} -->
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>

                        </div>
                        <!-- </div> -->

                    </div>
                </mat-expansion-panel>
            </mat-accordion>


            <!-- <div style="display: flex; width: 100%; justify-content: space-between;"> -->
                <div class="parent">
                <div class="child-num">
                    <mat-label>بحث بالكود*</mat-label>

                    <mat-form-field appearance="outline" class="groupInput" >
                        <input matInput placeholder="الكود" (keydown)="getItemByCode($event)" placeholder="{{editData ? editData.fullCode : ''}}" [value]="fullCodeValue && fullCodeValue != '-' ? fullCodeValue : fullCodeValue && fullCodeValue == '-' ? 'لا يوجد' : '' ">
                    </mat-form-field>
                </div>
              
                  <div  class="child-num">
                    <mat-label>الصنف*</mat-label>
                    <mat-form-field appearance="outline" class="groupInput" >
                        <input matInput aria-label="commodity" [matAutocomplete]="autoItemId"
                            [formControl]="itemCtrl"
                            placeholder="{{editData && !itemByFullCodeValue ? editData.itemName : itemByFullCodeValue && itemByFullCodeValue != '-' ? itemByFullCodeValue : itemByFullCodeValue && itemByFullCodeValue == '-' ? 'لا يوجد' : ''}}"
                            (click)="openAutoItem()" required />
                        <mat-autocomplete #autoItemId="matAutocomplete" [displayWith]="displayItemName"
                            (optionSelected)="ItemSelected($event)">
                            <mat-option *ngFor="let item of filteredItem | async" [value]="item">
                                <!-- {{ item.name }} | {{ item.id }} -->
                                {{ item.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                    <div  class="child-num">
                        <mat-label>الكمية*</mat-label>

                    <mat-form-field appearance="outline" class="groupInput" >
                        <input type="number" min="0" matInput placeholder="الكمية" formControlName="qty"
                            [value]="editData ? editData.qty : '1'">
                    </mat-form-field>
                    </div>
              
                   <div  class="child-num">
                    <mat-label>متوسط السعر*</mat-label>

                    <mat-form-field appearance="outline" class="groupInput" >
                        <input matInput placeholder="الرقم" type="number" min="0"
                            [value]="editData ? editData.price : ''" formControlName="price"
                            [readonly]="isReadOnly">
                    </mat-form-field>
                   </div>
                 </div>
                <!-- </div> -->

                <!-- <div style="margin-top: 5%; margin-right: 2%;">
                    <button mat-raised-button color="warn"
                        (click)="resetControls()">مسح</button>
                </div> -->
            <!-- </div> -->
          
            <div mat-dialog-action [align]="'end'" >
              <div class="groupAction" dir="ltr">
                  <button mat-raised-button class="savebtn"
                      (click)="addDetailsInfo()">{{actionBtnDetails.toLowerCase() =='save' ?
                      'اضافة':'تعديل'}}</button>
  
              </div>
  
          </div>
        </div>

        
        
    </div>

</form>