<div class="page-title"> الموديل</div>
<mat-card>
    <mat-card-content>
      <!-- <mat-accordion class="example-headers-align" multi dir="rtl">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
                بحث متقدم
              <mat-icon>search</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      <div class="search">
          <mat-form-field appearance="outline">
            <mat-label>الاسم</mat-label>
            <input #model matInput placeholder="الاسم">
        </mat-form-field>
        <mat-form-field appearance="outline">   
          <mat-label>اسم المصنع</mat-label>     
          <input matInput aria-label="vendor" [matAutocomplete]="autoVendor" [formControl]="vendorCtrl" (click)="openAutoVendor()" required/>
          <mat-autocomplete #autoVendor="matAutocomplete" [displayWith]="displayVendorName" (optionSelected)="vendorSelected($event)">
            <mat-option *ngFor="let vendor of filteredVendores | async" [value]="vendor">
              {{ vendor.name }} 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
        <button (click)=" getSearchModels(model.value)" >عرض</button>
        <button (click)=" getAllModels()" >الغاء</button>

        </div>
        </mat-expansion-panel>
      </mat-accordion> -->
      <mat-card-header dir="ltr" class="parent-search">
        <div class="child1">
          <button
            mat-raised-button
            class="add"
            (click)="openDialog()"
            dir="ltr"
          >
            <span class="ms-2">اضافة</span> <mat-icon class="me-1">add</mat-icon>
          </button>
        </div>
      
        <div>
          <input
            matInput
            class="filter-search"
            (keyup)="applyFilter($event)"
            placeholder="بحث"
            #input
          />
        </div>
      </mat-card-header>
     <div class="div-table">
      <table matSort mat-table [dataSource]="dataSource" >
  
        <!-- productCode Column -->
        
          <!-- productName Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef > الاسم</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
  
        <!-- category Column -->
        <ng-container matColumnDef="vendorName">
          <th mat-header-cell *matHeaderCellDef > اسم المصنع</th>
          <td mat-cell *matCellDef="let row"> {{row.vendorName}}</td>
        </ng-container>
  
        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="width: 15%;"> الإجراء</th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button (click)="editModel(row)" class="editbtn" >
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteModel(row.id)" mat-icon-button color="warn">
              <mat-icon>delete_forever</mat-icon>
            </button>
          
          
          </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
  
      </table>
     </div>
  
    </mat-card-content>
    <br>
    <mat-card-footer>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="الصفحات" showFirstLastButtons></mat-paginator>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
    </mat-card-footer>
  </mat-card>
  
