<!-- <p>pr-user-dialog works!</p> -->
<div class="cdk-overlay-pane  ">
    <button class="close" (click)="getAllMasterForms()" mat-button mat-dialog-close> <mat-icon>
            clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? ' تعديل المستخدم ' : ' إضافة مستخدم جديد'}}</h1>

<!-- <h1 mat-dialog-title dir="rtl">اضافة </h1> -->
<div mat-dialog-content dir="rtl" style="padding: 30px;">
    <form [formGroup]="groupMasterForm" (keydown.enter)="$event.preventDefault()">

        <div style="display: flex; justify-content: space-between;">

            <div class="headerForm" >
                <mat-label>اسم المستخدم*</mat-label>

                <mat-form-field appearance="outline" class="groupInput" style="width: 100%;">
                    <input matInput placeholder="اسم المستخدم" formControlName="name">
                </mat-form-field>
    
            </div>
    
            <div class="headerForm">
                <mat-label>كلمة المرور*</mat-label>

                <mat-form-field appearance="outline" class="groupInput" style="width: 100%;">
                    <input matInput placeholder="كلمة المرور" formControlName="password" type="password">
                </mat-form-field>
    
            </div>
        </div>
       

      <div dir="ltr">
        <button mat-raised-button class="follow-btn" (click)="nextToAddFormDetails()"
        [ngClass]="(editDataDetails || MasterGroupInfoEntered) ? 'nextButtonEditHeaderDetails' : 'nextButtonAddNewHeader'">حفظ</button>
      </div>
    </form>


</div>