<!-- <p>fi-entry-table works!</p> -->
<mat-accordion class="example-headers-align" multi dir="rtl">
  <div class="page-title">القيود</div>

</mat-accordion>

<mat-card-header dir="ltr" class="parent-search">
  <div class="child1">
    <button mat-raised-button class="add" (click)="openCcEntryDialog()" dir="ltr">
      <span class="ms-2">اضافة</span> <mat-icon class="me-1">add</mat-icon>
    </button>
  </div>

  <div>
    <input matInput class="filter-search" (keyup)="applyFilter($event)" placeholder="بحث" #input />
  </div>
</mat-card-header>

<div class="div-table">
  <table mat-table [dataSource]="dataSource2" dir="rtl">
    <!-- No Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>الرقم</th>
      <td mat-cell *matCellDef="let row">{{ row.no }}</td>
    </ng-container>

    <!-- balance Column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>موازنة</th>
      <td mat-cell *matCellDef="let row">{{ row.balance }}</td>
    </ng-container>

    <!-- creditTotal Column -->
    <ng-container matColumnDef="creditTotal">
      <th mat-header-cell *matHeaderCellDef>مجموع الائتمان</th>
      <td mat-cell *matCellDef="let row">{{ row.creditTotal }}</td>
    </ng-container>

    <!-- debitTotal Column -->
    <ng-container matColumnDef="debitTotal">
      <th mat-header-cell *matHeaderCellDef>مجموع المدين</th>
      <td mat-cell *matCellDef="let row">{{ row.debitTotal }}</td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>التاريخ</th>
      <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef id="action-header" style="width: 15%">
        الاجراء
      </th>
      <td mat-cell *matCellDef="let row" id="buttn">
        <button mat-icon-button class="editbtn" (click)="editMasterForm(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteBothForms(row.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
[pageSizeOptions]="[5, 10, 25, 100, 1000]" aria-label="الصفحات" (page)="pageChanged($event)" showFirstLastButtons>
</mat-paginator>