<p>pr-group-table works!</p>
<div matSort>
    <mat-accordion class="example-headers-align" multi dir="rtl">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    بحث متقدم
                    <mat-icon>search</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-label>الرقم</mat-label>
                    <input #no matInput placeholder="ادخل الرقم" type="number">
                </mat-form-field>

                <!-- <mat-form-field appearance="outline">
                <mat-label>المخزن</mat-label>
                <mat-select #storeId plceholder="اختر المخزن">
                    <mat-option *ngFor="let store of storeList" [value]="store.id">{{
                        store.name
                        }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>السنة المالية</mat-label>
                <mat-select #fiscalYear plceholder="اختر السنة المالية">
                    <mat-option *ngFor="let fiscalYear of fiscalYearsList" [value]="fiscalYear.fiscalyear">{{
                        fiscalYear.fiscalyear }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>الصنف </mat-label>
                <mat-select #itemId plceholder="اختر الصنف ">
                    <mat-option *ngFor="let item of itemsList" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field> -->

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>التاريخ</mat-label>
                    <input #date matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- <button mat-icon-button color="primary"
                (click)="getSearchStrOpen(no.value, storeId.value, date.value, fiscalYear.value, itemId.value)">
                <mat-icon>search</mat-icon>
            </button> -->
            </div>
        </mat-expansion-panel>
    </mat-accordion>


    <mat-card-header dir="rtl">
        <div class="child1">
            <button mat-raised-button class="add" (click)="openOpeningStockDialog()" dir="ltr" style="font-weight: 600; font-size: 1.1rem;">
                <span class="ms-2">اضافة</span> <mat-icon class="me-1">add</mat-icon>
            </button>
        </div>

        <mat-form-field appearance="outline" >
            <input matInput (keyup)="applyFilter($event)" placeholder="بحث" #input style="font-weight: 500; font-size: 1.1rem;" />
        </mat-form-field>

    </mat-card-header>


    <!---print Header-->
    <section id="content">
        <header id="header" class="header">
            <div class="header-one">
                <p>أرصدة إفتتاحية</p>
            </div>
            <div class="header-two">
                <img src="../assets/images/water logo.png" />
                <p>شركة مياه الشرب والصرف الصحى بأسوان</p>
            </div>
        </header>

        <div class="mat-elevation-z8">
            <div id="table-content">
                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" dir="rtl" >
                    <!-- name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef style="width: 20%; text-align: center;">الاسم</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.name }}</td>
                    </ng-container>

                    <!-- createUserName Column -->
                    <ng-container matColumnDef="createUserName" >
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">اسم المستخدم</th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;">{{ row.createUserName }}</td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="Action" >
                        <th mat-header-cell *matHeaderCellDef id="action-header" style="width: 20%; text-align: center; ">الاجراء</th>
                        <td mat-cell *matCellDef="let row" id="buttn" style="text-align: center;">
                            <button mat-icon-button color="primary" (click)="editMasterForm(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteBothForms(row.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
        </div>
    </section>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>