<!-- <p>tr-trainee-dialog works!</p> -->
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button mat-dialog-close> <mat-icon> clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? ' تعديل متدرب ' : ' إضافة متدرب جديد'}}</h1>

<!-- <form [formGroup]="HrEmployeePosition" dir="rtl"> -->
<div dir="rtl">
    <div mat-dialog-content>
        <form [formGroup]="TrTraineeForm">


            <div class="child1">
                <mat-label>عملاء الشركة*</mat-label>

                <mat-form-field appearance="outline">
                    <input matInput aria-label="specialization" [matAutocomplete]="autoTrCoporteClient"
                        [formControl]="trCoporteClientCtrl"
                        placeholder="{{editData ? editData.corporationCLinetName : ''}}"
                        (click)="openAutoTrCoporteClient()" required />
                    <mat-autocomplete #autoTrCoporteClient="matAutocomplete" [displayWith]="displayTrCoporteClientName"
                        (optionSelected)="TrCoporteClientSelected($event)">
                        <mat-option *ngFor="let trCoporteClient of filteredtrCoporteClient | async"
                            [value]="trCoporteClient">
                            {{ trCoporteClient.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="child1">
                <div class="radio " style="display: flex;flex-direction: column;width: 52%;">
                    <mat-label style="margin-top: 9px;"> حالةالصنف*</mat-label>
                    <!-- <input matInput placeholder="الكود" (keydown)="getItemByCode($event)"> -->
                    <mat-radio-group style="display: flex;flex-direction: row;" aria-label="Select an option"
                        (change)="set_Percentage($event)">
                        <mat-radio-button value="موظف">موظف</mat-radio-button>
                        <mat-radio-button value="خارجى">خارجى</mat-radio-button>
                    </mat-radio-group>

                </div>
            </div>

            <div class="child1">
                <mat-label>الموظف*</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput aria-label="employee" [matAutocomplete]="autoEmployee" [formControl]="employeeCtrl"
                        placeholder="{{editData ? editData.employeeName : ''}}" (click)="openAutoemployee()" required/>
                    <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployeeName"
                        (optionSelected)="employeeSelected($event)">
                        <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee">
                            {{ employee.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="savebtn" (click)="addTrTrainee()"
            style="margin-left: 8px;">{{actionBtn}}</button>
    </div>
</div>
<!-- </form> -->