<!-- <p>tr-trainee-dialog works!</p> -->
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button mat-dialog-close> <mat-icon> clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? ' تعديل متدرب ' : ' إضافة متدرب جديد'}}</h1>

<!-- <form [formGroup]="HrEmployeePosition" dir="rtl"> -->
<div dir="rtl">
    <div mat-dialog-content>
        <form [formGroup]="TrTraineeForm" style="overflow: hidden !important;">
            <div class="headerForm" >
           
       
                <div style="display: flex;flex-direction: row;justify-content: space-around;">

                    <div class="searchLabels" style="width: 13rem;">
                        <mat-label>الاسم*</mat-label>

                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="الاسم" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="searchLabels" style="width: 13rem;">
                        <mat-label>الكود*</mat-label>

                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="الكود" formControlName="code"  min="0">
                        </mat-form-field>
                    </div>
                    <div class="searchLabels" style="width: 15rem;">
                        <mat-label>رقم الهاتف*</mat-label>

                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="رقم الهاتف" formControlName="phone"  maxlength="11">
                        </mat-form-field>
                    </div>
                </div>



                <div style="display: flex;flex-direction: row;justify-content: space-around;">

                    <div class="searchLabels" style="width: 13rem;">
                        <mat-label>البريد الالكتروني*</mat-label>

                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="البريد الالكتروني" formControlName="email" type="email">
                        </mat-form-field>
                    </div>
                    <div class="searchLabels" style="width: 13rem;">
                        <mat-label>العنوان*</mat-label>

                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="العنوان" formControlName="address">
                        </mat-form-field>
                    </div>
                    <div class="searchLabels" style="width: 15rem;">
                        <mat-label>النوع *</mat-label>

                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="النوع " formControlName="gender">
                        </mat-form-field>
                    </div>
                </div>

                <div style="display: flex;flex-direction: row;">

                    <div class="searchLabels" style="width: 13rem;">
                        <mat-label>الرقم القومي *</mat-label>

                        <mat-form-field appearance="outline" class="groupInput" style="width: 100% !important;">
                            <input matInput placeholder="الرقم القومي " formControlName="nationalId"  maxlength="24">
                        </mat-form-field>
                    </div>
                    <div class="searchLabels" style="width: 13rem;">
                        <mat-label>المدينة*</mat-label>

                        <mat-form-field appearance="outline" style="width: 100%;">
                            <input matInput aria-label="specialization" [matAutocomplete]="autocity"
                                [formControl]="cityCtrl"
                                placeholder="{{editData ? editData.corporationCLinetName : ''}}"
                                (click)="openAutocity()" required />
                            <mat-autocomplete #autocity="matAutocomplete"
                                [displayWith]="displaycityName"
                                (optionSelected)="citySelected($event)">
                                <mat-option *ngFor="let city of filteredcity | async"
                                    [value]="city">
                                    {{ city.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="searchLabels" style="width: 15rem;">
                        <mat-label>عملاء الشركة*</mat-label>

                        <mat-form-field appearance="outline" style="width: 100%;">
                            <input matInput aria-label="specialization" [matAutocomplete]="autoTrCoporteClient"
                                [formControl]="trCoporteClientCtrl"
                                placeholder="{{editData ? editData.corporationCLinetName : ''}}"
                                (click)="openAutoTrCoporteClient()" required />
                            <mat-autocomplete #autoTrCoporteClient="matAutocomplete"
                                [displayWith]="displayTrCoporteClientName"
                                (optionSelected)="TrCoporteClientSelected($event)">
                                <mat-option *ngFor="let trCoporteClient of filteredtrCoporteClient | async"
                                    [value]="trCoporteClient">
                                    {{ trCoporteClient.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="savebtn" (click)="addTrTrainee()"
          >{{actionBtn}}</button>
    </div>
</div>
<!-- </form> -->