
<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل جزاءات  الموظفين    ' : 'إضافة   جزاءات الموظفين '}}</h1>
  

<div mat-dialog-content dir="rtl" class="search" style="overflow-x:hidden;" >
    <form [formGroup]="groupForm" >

<div style="display: flex;flex-direction: row;">

    <div class="searchLabels" style="width: 35%;">
        <mat-label> الرقم </mat-label>

        <mat-form-field appearance="outline" class="groupInput" style="width: 98%;">
            <input matInput placeholder="الرقم  " type="number" formControlName="no" min="0">
        </mat-form-field>
      </div>


      <div class="searchLabels" style="width: 35%;">
        <mat-label> الايام </mat-label>

        <mat-form-field appearance="outline" class="groupInput" style="width: 100%;">
            <input matInput placeholder=" الايام " type="number"  formControlName="noDays" min="0">
        </mat-form-field> 
      </div>
</div>
      
      
            <div style="display: flex;flex-direction: row;">
                <div class="searchLabels" style="width: 35%;margin-top: -2% !important;">
            <mat-label>الموظف*</mat-label>
            <mat-form-field appearance="outline" style="width: 98%;">
                <input matInput aria-label="commodity" [matAutocomplete]="autoEmployee" [formControl]="emploeeCtrl"
                    placeholder="{{editData ? editData.employeeName : ''}}" (click)="openAutoEmployee()"
                    required />
                <mat-autocomplete #autoEmployee="matAutocomplete" [displayWith]="displayEmployeeName"
                    (optionSelected)="employeeSelected($event)">
                    <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee">
                        {{ employee.name }} | {{ employee.code }} | {{ employee.id }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
           </div>
           <div class="searchLabels" style="width: 35%;margin-top: -2% !important;">
            <mat-label>التاريخ</mat-label>
    
        <mat-form-field appearance="outline" style="width: 99%;">
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    </div>


    <div class="searchLabels" style="margin-top: -2% !important;">
        <mat-label>العقوبة*</mat-label>

        <mat-form-field appearance="outline">
                <input matInput aria-label="commodity" [matAutocomplete]="autodisciplinary" [formControl]="disciplinaryCtrl"
                    placeholder="{{editData ? editData.disciplinaryName : ''}}" (click)="openAutodisciplinary()"
                    required />
                <mat-autocomplete #autodisciplinary="matAutocomplete" [displayWith]="displaydisciplinaryName"  (optionSelected)="disciplinarySelected($event)">
                    <mat-option *ngFor="let disciplinary of filtereddisciplinary | async" [value]="disciplinary">
                        {{ disciplinary.name }} | {{ disciplinary.code }} | {{ disciplinary.id }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
           </div>
      
           <div class="searchLabels" style="margin-top: -2% !important;">
            <mat-label> التفسير </mat-label>

    <mat-form-field appearance="outline" class="groupInput">
        <input matInput placeholder=" التفسير " formControlName="description">
    </mat-form-field>
</div>
        <!-- <mat-form-field appearance="outline" class="groupInput">
            <mat-label>discplinary</mat-label>
            <mat-select placeholder="discplinary" formControlName="disciplinaryId">
                <mat-option [value]="disciplinary.id" *ngFor="let disciplinary of disciplinaryList">{{disciplinary.name}}</mat-option>
            </mat-select>
        </mat-form-field> -->
      
    <div mat-dialog-action [align]="'end'">
        <div class="groupAction">
            <!-- <button mat-raised-button class="cancelBtn" mat-dialog-close>اغلاق</button> -->
            <button mat-raised-button  class="savebtn"  style="margin-left: 8px;"
                (click)="addEmployeeDisciplinary()">{{actionBtn.toLowerCase() =='save' ? 'اضافة':'تعديل'}}</button>
        </div>
    </div>
    </form>
</div>

