

<div class="cdk-overlay-pane">
    <button class="close" mat-button mat-dialog-close>
      <mat-icon> clear</mat-icon>
    </button>
  </div>
  <h1 mat-dialog-title class="add-h1">
    {{ editData ? "  تعديل الحافز    " : " إضافة حافز جديد" }}
  </h1>

  <form [formGroup]="groupForm" dir="rtl">
        <div mat-dialog-content >
        <mat-form-field appearance="outline" class="groupInput">
            <mat-label>رقم الحافز</mat-label>
            <input matInput placeholder="رقم الحافز" formControlName="no" type="number">
        </mat-form-field>
        <div class="child1">
          <mat-label>الموظف</mat-label>
            <mat-form-field appearance="outline">
              <input matInput aria-label="commodity" [matAutocomplete]="autoEmployee" 
                [formControl]="employeeCtrl" formControlName="employee" (click)="openAutoEmployee()" required />
              <mat-autocomplete #autoEmployee="matAutocomplete" #employeeId [displayWith]="displayEmployeeName"
                (optionSelected)="employeeSelected($event)">
                <mat-option *ngFor="let employee of filteredEmployees | async" [value]="employee">
                  {{ employee.name }} 
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

        <mat-label>السنة المالية*</mat-label>
        <mat-form-field appearance="outline">
            <input matInput aria-label="commodity" [matAutocomplete]="autofiscalYear" [formControl]="fiscalYearCtrl"
                placeholder="{{editData ? editData.fiscalYearName : ''}}" (click)="openAutoFiscalYear()"
                required />
            <mat-autocomplete #autofiscalYear="matAutocomplete" [displayWith]="displayFiscalYearName"
                (optionSelected)="fiscalYearSelected($event)">
                <mat-option *ngFor="let vacation of filteredFiscalYear | async" [value]="vacation">
                    {{ vacation.fiscalyear }} | {{ vacation.id }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>التاريخ</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>
    <div mat-dialog-actions>
        <button
          mat-raised-button
          class="savebtn"
          style="margin-left: 8px"
          (click)="addIncentiveAllowance()"
        >
          {{ actionBtn }}
        </button>
      </div>
</form>


  
