<!-- <p>str-opening-stock-table works!</p> -->
<mat-accordion class="example-headers-align" multi dir="rtl">
  <div class="page-title">أذونات الاضافة</div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        بحث متقدم
        <mat-icon>search</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="groupMasterForm">
      <div class="search">
        <div class="searchLabels">
          <mat-label>رقم الاذن</mat-label>
          <mat-form-field appearance="outline">
            <input #no matInput formControlName="no" (keydown)="getsearch($event)" type="number" min="0" />
          </mat-form-field>
        </div>

        <div class="searchLabels">
          <mat-label>رقم الجرد</mat-label>
          <mat-form-field appearance="outline">
            <input #EntryNo matInput formControlName="EntryNo" (keydown)="getsearch($event)" type="number" min="0" />
          </mat-form-field>
        </div>

        <div class="searchLabels">
          <mat-label>مخزن *</mat-label>

          <mat-form-field appearance="outline">
            <input matInput aria-label="commodity" [matAutocomplete]="autostore" (keydown)="getsearch($event)"
              [formControl]="storeCtrl" formControlName="store" (click)="openAutostore()" required />
            <mat-autocomplete #autostore="matAutocomplete" #storeId [displayWith]="displaystoreName"
              (optionSelected)="storeSelected($event)">
              <mat-option *ngFor="let store of filteredstore | async" [value]="store">
                {{ store.name }} | {{ store.id }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="searchLabels">
          <mat-label>السنة المالية</mat-label>

          <mat-form-field appearance="outline">
            <mat-select #fiscalYear plceholder="اختر السنة المالية" formControlName="fiscalYear">
              <mat-option *ngFor="let fiscalYear of fiscalYearsList" [value]="fiscalYear.id">{{ fiscalYear.fiscalyear
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <div class="searchLabels">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>التاريخ</mat-label>
            <input #date matInput [matDatepicker]="picker" />
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div> -->

        <div class="searchLabels">
          <mat-label>الصنف:</mat-label>

          <mat-form-field appearance="outline">
            <input matInput aria-label="commodity" [matAutocomplete]="autoitem" [formControl]="itemCtrl"
              formControlName="itemName" (keydown)="getsearch($event)" (click)="openAutoitem()" required />
            <mat-autocomplete #autoitem="matAutocomplete" #itemId [displayWith]="displayitemName"
              (optionSelected)="itemSelected($event)">
              <mat-option *ngFor="let item of filtereditem | async" [value]="item">
                {{ item.name }} | {{ item.id }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="searchLabels">
          <mat-label>الموظف:</mat-label>

          <mat-form-field appearance="outline">
            <input matInput aria-label="commodity" [matAutocomplete]="autoEmployee" (keydown)="getsearch($event)"
              [formControl]="employeeCtrl" formControlName="employee" (click)="openAutoEmployee()" required />
            <mat-autocomplete #autoEmployee="matAutocomplete" #employeeId [displayWith]="displayEmployeeName"
              (optionSelected)="employeeSelected($event)">
              <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee">
                {{ employee.name }} | {{ employee.code }} | {{ employee.id }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="searchLabels">
          <mat-label> تاريخ البداية</mat-label>
          <mat-form-field appearance="outline" class="searchForm">
            <input #StartDate matInput [matDatepicker]="picker" formControlName="StartDate" />
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="searchLabels">
          <mat-label>تاريخ النهاية</mat-label>
          <mat-form-field appearance="outline" class="searchForm">
            <input #EndDate matInput [matDatepicker]="picke" formControlName="EndDate" />
            <mat-datepicker-toggle matIconSuffix [for]="picke">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picke></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="searchLabels">
          <mat-label> التقارير</mat-label>

          <mat-form-field appearance="outline" class="searchForm">
            <mat-select [value]="selectedReportName" #report formControlName="report">
              <mat-option value="STRAddReport">تقرير 1</mat-option>
              <mat-option value="STRAddDetailsReport">تقرير 2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="searchLabels">
          <mat-label> نوع التقرير</mat-label>

          <mat-form-field appearance="outline" class="searchForm">
            <mat-select #reportType plceholder="اختر  النوع" formControlName="report">
              <mat-option value="pdf"> PDF </mat-option>
              <mat-option value="xls"> Excel </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- <button mat-icon-button color="primary" >
          <mat-icon>search</mat-icon>
        </button> -->
      </div>
      <div class="print-display">
        <mat-icon (click)="
            getSearchStrAdd(
              no.value,
              EntryNo.value,
              StartDate.value,
              EndDate.value,
              fiscalYear.value
            )
          " class="icons" title="بحث">search</mat-icon>
        <mat-icon class="icons" title="عرض" (click)="
            previewPrint(
              no.value,
              StartDate.value,
              EndDate.value,
              fiscalYear.value,
              report.value,
              reportType.value
            )
          " class="icons" title="تحميل">print</mat-icon>

        <mat-icon (click)="
            downloadPrint(
              no.value,
              StartDate.value,
              EndDate.value,
              fiscalYear.value,
              report.value,
              reportType.value
            )
          " class="icons" title="تحميل">get_app</mat-icon>

        <mat-icon (click)="getAllMasterForms()" class="icons" title="حذف قيم البحث">restore</mat-icon>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>






<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="pageTab">
        <mat-icon class="example-tab-icon">cloud_done</mat-icon>
        <h2>اذونات الاضافة الموجودة</h2>
      </div>
    </ng-template>

    <div class="pageTabContent">
      <mat-card-header dir="ltr" class="parent-search">
        <div class="child1">
          <button mat-raised-button class="add" (click)="openAddDialog()" dir="ltr">
            <span class="ms-2">اضافة</span>
            <mat-icon class="me-1">add</mat-icon>
          </button>
        </div>

        <div>
          <input matInput class="filter-search" (keyup)="applyFilter($event)" placeholder="بحث" #input />
        </div>
      </mat-card-header>
      <div class="div-table">
        <table mat-table [dataSource]="dataSource2" dir="rtl">
          <!-- No Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>الرقم</th>
            <td mat-cell *matCellDef="let row">{{ row.no }}</td>
          </ng-container>

          <!-- Store Column -->
          <ng-container matColumnDef="storeName">
            <th mat-header-cell *matHeaderCellDef>المخزن</th>
            <td mat-cell *matCellDef="let row">{{ row.storeName }}</td>
          </ng-container>
          <!-- sourcestore Column -->
          <ng-container matColumnDef="sourceStoreName">
            <th mat-header-cell *matHeaderCellDef>مخزن المصدر</th>
            <td mat-cell *matCellDef="let row">{{ row.sourceStoreName }}</td>
          </ng-container>
          <!-- seller Column -->
          <ng-container matColumnDef="sellerName">
            <th mat-header-cell *matHeaderCellDef>البائع</th>
            <td mat-cell *matCellDef="let row">{{ row.sellerName }}</td>
          </ng-container>
          <!-- employee Column -->
          <ng-container matColumnDef="employeeName">
            <th mat-header-cell *matHeaderCellDef>الموظف</th>
            <td mat-cell *matCellDef="let row">{{ row.employeeName }}</td>
          </ng-container>
          <!-- receipt Column -->
          <ng-container matColumnDef="receiptName">
            <th mat-header-cell *matHeaderCellDef>سند الاضافة</th>
            <td mat-cell *matCellDef="let row">{{ row.receiptName }}</td>
          </ng-container>

          <!-- Type Column -->
          <ng-container matColumnDef="typeName">
            <th mat-header-cell *matHeaderCellDef>النوع</th>
            <td mat-cell *matCellDef="let row">{{ row.typeName }}</td>
          </ng-container>
          <!-- Type Column -->
          <ng-container matColumnDef="fiscalyear">
            <th mat-header-cell *matHeaderCellDef>السنة المالية</th>
            <td mat-cell *matCellDef="let row">{{ row.fiscalyear }}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>التاريخ</th>
            <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>الاجراء</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="editbtn" (click)="editMasterForm(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteBothForms(row.id)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              لا توجد بيانات للبحث !!{{ input.value }}"
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- <mat-paginator #paginatorLegal="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"></mat-paginator> -->

    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100, 1000]" (page)="pageChanged($event)" showFirstLastButtons>
    </mat-paginator>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div class="pageTab">
        <mat-icon class="example-tab-icon">cloud_download</mat-icon>
        <h2>اذونات الاضافة المعلقة</h2>
      </div>
    </ng-template>

    <div class="pageTabContent">
      <mat-card-header dir="ltr" class="parent-search">
        <div>
          <input matInput class="filter-search" (keyup)="applyPendingWithdrawFilter($event)" placeholder="بحث" #input />
        </div>
      </mat-card-header>

      <div style="display: flex; flex-direction: column; margin-left: 10px">
        <mat-label style="margin-top: 2%">المخازن*</mat-label>

        <mat-form-field appearance="outline" class="groupInput" style="width: 30%">
          <mat-select placeholder="المخازن" (valueChange)="storeValueChanges($event)">
            <mat-option [value]="userRoles.includes(userRoleStoresAcc) ? store.id : store.storeId" *ngFor="let store of storeList">{{
              userRoles.includes(userRoleStoresAcc) ? store.name : store.storeName
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="div-table">
        <table mat-table [dataSource]="dataSourcePendingWithdraws" dir="rtl">
          <!-- No Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>الرقم</th>
            <td mat-cell *matCellDef="let row">{{ row.no }}</td>
          </ng-container>

          <!-- costCenterName Column -->
          <ng-container matColumnDef="costCenterName">
            <th mat-header-cell *matHeaderCellDef>مركز التكلفة</th>
            <td mat-cell *matCellDef="let row">{{ row.costCenterName }}</td>
          </ng-container>

          <!-- storeName Column -->
          <ng-container matColumnDef="storeName">
            <th mat-header-cell *matHeaderCellDef>المخزن الحالى</th>
            <td mat-cell *matCellDef="let row">{{ row.storeName }}</td>
          </ng-container>

          <!-- desstoreName Column -->
          <ng-container matColumnDef="desstoreName">
            <th mat-header-cell *matHeaderCellDef>مخزن الوجهة</th>
            <td mat-cell *matCellDef="let row">{{ row.desstoreName }}</td>
          </ng-container>

          <!-- fiscalyear Column -->
          <ng-container matColumnDef="fiscalyear">
            <th mat-header-cell *matHeaderCellDef>السنة المالية</th>
            <td mat-cell *matCellDef="let row">{{ row.fiscalyear }}</td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>التاريخ</th>
            <td mat-cell *matCellDef="let row">{{ row.date | date }}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef >الاجراء</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="editbtn" (click)="editMasterForm(row)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button class="successbtn" (click)="acceptPendingWithdraw(row)">
                <mat-icon>done_outline</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="rejectPendingWithdraw(row)">
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedPendingColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedPendingColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              لا توجد بيانات للبحث !!{{ input.value }}"
            </td>
          </tr>
        </table>
      </div>
      <!-- </table> -->
    </div>
    <!-- </div> -->

    <mat-paginator #paginatorGSTN="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"></mat-paginator>

  </mat-tab>
</mat-tab-group>