<!-- <p>str-add-details-dialog works!</p> -->
<div class="text-center w=100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<div class="cdk-overlay-pane">
  <button class="close" mat-button mat-dialog-close>
    <mat-icon> clear</mat-icon>
  </button>
</div>
<form
  [formGroup]="groupDetailsForm"
  (keydown.enter)="$event.preventDefault()"
  style="overflow: hidden !important"
>
  <div style="overflow: hidden !important">
    <h1 mat-dialog-title class="add-h1">اكمل تفاصيل افتتاحي العهد</h1>

    <div class="detailsForm" dir="rtl" style="overflow: hidden !important">
      <mat-accordion style="margin-bottom: 2%" multi dir="rtl">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              بحث بالمنتج
              <mat-icon style="text-align: left">search</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="searchbyproduct">
            <div class="serPro">
              <mat-label>بحث بكود المنتج </mat-label>

              <mat-form-field appearance="outline" class="groupInput">
                <input matInput (keydown)="getItemByProductCode($event)" />
              </mat-form-field>
            </div>

            <div class="serPro">
              <mat-label>بحث باسم المنتج </mat-label>
              <mat-form-field appearance="outline" class="groupInput">
                <input
                  matInput
                  aria-label="commodity"
                  [matAutocomplete]="autoProductId"
                  [formControl]="productCtrl"
                  placeholder="{{ productIdValue ? productIdValue : '' }}"
                  (click)="openAutoProduct()"
                  required
                />
                <mat-autocomplete
                  #autoProductId="matAutocomplete"
                  [displayWith]="displayProductName"
                  (optionSelected)="ProductSelected($event)"
                >
                  <mat-option
                    *ngFor="let product of filteredProduct | async"
                    [value]="product"
                  >
                    {{ product.name ? product.name : "-" }} | {{ product.code }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <!-- </div> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="parent">
        <div class="child-num">
          <mat-label>بحث بالكود </mat-label>

          <mat-form-field
            appearance="outline"
            class="groupInput"
          >
            <input
              matInput
              placeholder="{{ editData ? editData.fullCode : '' }}"
              (keydown)="getItemByCode($event)"
              [value]="
                fullCodeValue && fullCodeValue != '-'
                  ? fullCodeValue
                  : fullCodeValue && fullCodeValue == '-'
                  ? 'لا يوجد'
                  : ''
              "
            />
          </mat-form-field>
        </div>

        <div class=" child-num" >
          <mat-label> الصنف*</mat-label>
          <mat-form-field
            appearance="outline"
            class="groupInput"
            *ngIf="!loading"
          >
            <input
              matInput
              aria-label="item"
              [matAutocomplete]="autoItem"
              [formControl]="itemCtrl"
              placeholder="{{
                editData && !itemByFullCodeValue
                  ? editData.itemName
                  : itemByFullCodeValue && itemByFullCodeValue != '-'
                  ? itemByFullCodeValue
                  : itemByFullCodeValue && itemByFullCodeValue == '-'
                  ? 'لا يوجد'
                  : ''
              }}"
              (click)="openAutoItem()"
              required
            />
            <mat-autocomplete
              #autoItem="matAutocomplete"
              [displayWith]="displayItemName"
              (optionSelected)="ItemSelected($event)"
            >
              <mat-option
                *ngFor="let item of filteredItem | async"
                [value]="item"
              >
                {{ item.name ? item.name : "-" }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

    
          <div class="child-num">
            <mat-label>الكمية*</mat-label>

            <mat-form-field
              appearance="outline"
              class="groupInput"
            >
              <input
                type="number"
                min="0"
                matInput
                placeholder="الكمية"
                formControlName="qty"
                [value]="editData ? editData.qty : '1'"
              />
            </mat-form-field>
          </div>

          <div class="child-num" >
            <mat-label>السعر</mat-label>

            <mat-form-field
              appearance="outline"
              class="groupInput"
            >
              <input
                type="number"
                min="0"
                matInput
                placeholder="السعر"
                formControlName="price"
                [value]="editData ? editData.price : ''"
              />
            </mat-form-field>
          </div>
      

        <div class="child-num" >
          <mat-label>الوصف</mat-label>
          <mat-form-field appearance="outline" class="groupInput">
            <input
              formControlName="description"
              matInput
              placeholder="الوصف ..."
            />
          </mat-form-field>
        </div>

        <div class="child-num" >
          <mat-label> النسبة*</mat-label>
          <mat-form-field
            appearance="outline"
            class="groupInput"
           
          >
            <input
              matInput
              type="number"
              min="0"
              placeholder="النسبة"
              formControlName="percentage"
              [value]="editData ? editData.percentage : ''"
              [readonly]="isReadOnlyPercentage"
            />
          </mat-form-field>
        </div>

        <div  class="child-num">
          <mat-form-field appearance="outline" class="groupInput">
            <mat-label>ملاحظات</mat-label>
            <textarea
              formControlName="notes"
              matInput
              placeholder="ملاحظات ..."
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div
        class="radio"
       
      >
        <mat-label style="margin-top: 9px"> حالةالصنف*</mat-label>
        <!-- <input matInput placeholder="الكود" (keydown)="getItemByCode($event)"> -->
        <mat-radio-group
          style="display: flex; flex-direction: row"
          aria-label="Select an option"
          formControlName="state"
          (change)="set_Percentage($event)"
          [value]="editData ? editData.state : stateDefaultValue"
        >
          <mat-radio-button value="جديد">جديد</mat-radio-button>
          <mat-radio-button value="مستعمل">مستعمل</mat-radio-button>
          <mat-radio-button value="قابل للاصلاح">قابل للاصلاح</mat-radio-button>
          <mat-radio-button value="كهنة و خردة">كهنة و خردة</mat-radio-button>
        </mat-radio-group>
      </div>
      <div mat-dialog-action [align]="'end'">
        <div class="groupAction">
          <button
            mat-raised-button
            color="primary"
            style="margin-left: 8px"
            (click)="addDetailsInfo()"
          >
            {{ actionBtnDetails.toLowerCase() == "save" ? "اضافة" : "تعديل" }}
          </button>
          <!-- <button mat-raised-button color="warn" mat-dialog-close (click)="getAllMasterForms()">اغلاق</button> -->
        </div>
      </div>
    </div>
  </div>
</form>
