<div class="cdk-overlay-pane  ">
    <button class="close" (click)="getAllMasterForms()" mat-button mat-dialog-close> <mat-icon>
            clear</mat-icon></button>
</div>

<h1 mat-dialog-title class="add-h1">{{editData? ' تعديل المستخدم ' : ' إضافة مستخدم جديد'}}</h1>

<!-- <h1 mat-dialog-title dir="rtl">اضافة </h1> -->
<div mat-dialog-content dir="rtl" style="overflow: hidden;" >
    <form [formGroup]="groupMasterForm" (keydown.enter)="$event.preventDefault()">

        <div style="display: flex;">

            <div class="headerForm" style="margin-right: 18%;" >
                <mat-label>اسم المستخدم*</mat-label>

                <mat-form-field appearance="outline" class="groupInput" style="width: 100%;">
                    <input matInput placeholder="اسم المستخدم" formControlName="name">
                </mat-form-field>
    
            </div>
    
            <div class="headerForm">
                <mat-label>كلمة المرور*</mat-label>

                <mat-form-field appearance="outline" class="groupInput" style="width: 100%;">
                    <input matInput placeholder="كلمة المرور" formControlName="password" type="password">
                </mat-form-field>
    
            </div>
        </div>
       

      <div dir="ltr">
        <button mat-raised-button class="follow-btn" (click)="nextToAddFormDetails()"
        [ngClass]="(editDataDetails || MasterGroupInfoEntered) ? 'nextButtonEditHeaderDetails' : 'nextButtonAddNewHeader'">التالى</button>
      </div>
    </form>

    <form [formGroup]="groupDetailsForm" (keydown.enter)="$event.preventDefault()">

        <div [ngClass]="(MasterGroupInfoEntered || editDataDetails) ? 'restGroupInfo' : 'restGroupInfoDisable'">
            <h1 mat-dialog-title class="add-h1" style="margin-top: -2%;">  تفاصيل المستخدم </h1>

            <div class="detailsForm">

                <!-- <mat-form-field appearance="outline" class="groupInput">
                    <mat-label> اسم المجموعة</mat-label>
                    <mat-select placeholder="اسم المجموعة" formControlName="groupId"
                        [value]="getDetailedRowData ? getDetailedRowData.groupId : ''">
                        <mat-option [value]="prGroup.id"
                            *ngFor="let prGroup of prGroupList">{{prGroup.name}}</mat-option>
                    </mat-select>
                </mat-form-field> -->

                <div style="display: flex; flex-direction: column;">
                    <mat-label>اسم المجموعة*</mat-label>
                    <mat-form-field appearance="outline" class="child-num" style="width: 100%;">
                        <input matInput aria-label="commodity" [matAutocomplete]="groupId" [formControl]="prGroupCtrl"
                            placeholder="{{getDetailedRowData ? getDetailedRowData.group_Name : ''}}"
                            (click)="openAutoPrGroup()" required />
                        <mat-autocomplete #groupId="matAutocomplete" [displayWith]="displayPrGroupName"
                            (optionSelected)="PrGroupSelected($event)">
                            <mat-option *ngFor="let prGroup of filteredPrGroup | async" [value]="prGroup">
                                {{ prGroup.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div mat-dialog-action [align]="'end'" style="margin-top: 2%;">
                    <div class="groupAction">
                        <button mat-raised-button color="primary" style="margin-left: 8px;"
                            (click)="addDetailsInfo()">{{actionBtnDetails.toLowerCase() =='save' ?
                            'اضافة':'تعديل'}}</button>
                     
                    </div>
                </div>
            </div>

            <div class="tableFixHead">
                <table   mat-table [dataSource]="dataSource"  matSort class="headerTable ">

                    <!-- group_Name Column -->
                    <ng-container matColumnDef="group_Name">
                        <th mat-header-cell *matHeaderCellDef id="action-header" style="width: 70%;"> المجموعة</th>
                        <td mat-cell *matCellDef="let row"> {{row.group_Name}} </td>
                    </ng-container>


                    <ng-container matColumnDef="action" >
                        <th mat-header-cell *matHeaderCellDef id="action-header" >الاجراء</th>
                        <td mat-cell *matCellDef="let row" id="buttn" >
                            <button mat-icon-button class="editbtn" (click)="editDetailsForm(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteFormDetails(row.id)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>

                </table>
            </div>
        </div>

    </form>
</div>