<div class="cdk-overlay-pane  ">
    <button class="close" mat-button  mat-dialog-close > <mat-icon> clear</mat-icon></button>
  </div>
  
  <h1 mat-dialog-title class="add-h1">{{editData? '  تعديل    ' : ' إتاحة  مخزن لموظف '}}</h1>
  <form [formGroup]="userStorrForm" dir="rtl">
    <div mat-dialog-content>
      <form [formGroup]="userStorrForm">
       
  
        <mat-label>المستخدم</mat-label>     
        <mat-form-field appearance="outline">
          <input matInput aria-label="user" [matAutocomplete]="autoUser" [formControl]="userCtrl"
            placeholder="{{getPlatoonData ? getPlatoonData.userName : ''}}" (click)="openAutoUser()" required />
          <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayUserName"
            (optionSelected)="userSelected($event)">
            <mat-option *ngFor="let user of filteredUseres | async" [value]="user">
              {{ user.name }} 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
        <mat-label>المخزن</mat-label>     
        <mat-form-field appearance="outline">
          <input matInput aria-label="store" [matAutocomplete]="autoStore" [formControl]="storeCtrl" required
            placeholder="{{getPlatoonData ? getPlatoonData.storeName : ''}}" (click)="openAutoStore()" required />
          <mat-autocomplete #autoStore="matAutocomplete" [displayWith]="displayStoreName"
            (optionSelected)="storeSelected($event)">
            <mat-option *ngFor="let store of filteredStores | async" [value]="store">
              {{ store.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button class="savebtn" (click)="addPlatoon()" style="margin-left: 8px;">{{actionBtn}}</button>
  
      </form>
    </div>
    
    
  </form>