<div  >
  <div class="parent-report" routerLink="/reports">
    <img   class=" bg-report " src="../../../../../assets/images/image(1).png" width="50" height="50"/> <span class="me-2 report">تقارير المخازن</span>
  </div>
 
  <mat-card>
    <div class="card-parent">
      <mat-card class="card-class" routerLink="/اذن اضافة"  *ngIf="hasAccessRole(pageEnums.STRAdd)">    
        <mat-card-content>
            <mat-card-title>إذن الإضافة</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/اذن صرف"  *ngIf="hasAccessRole(pageEnums.WITHDRAW)">    
        <mat-card-content>
            <mat-card-title routerLink="/withdraw">إذن الصرف</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/الافتتاحية"  *ngIf="hasAccessRole(pageEnums.STR_OPENING_STOCK)">    
        <mat-card-content>
            <mat-card-title>الرصيد الافتتاحى</mat-card-title>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-class"  routerLink="/نقل عهده"  *ngIf="hasAccessRole(pageEnums.EMPLOYEE_OPENING)">    
        <mat-card-content>
            <mat-card-title> نقل عهدة</mat-card-title>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-class" routerLink="/افتتاحي لعهد"  *ngIf="hasAccessRole(pageEnums.EMPLOYEE_OPENING_CUSTODY)">    
        <mat-card-content>
            <mat-card-title>افتتاحي العهد</mat-card-title>
        </mat-card-content>
      </mat-card> 
    
      <mat-card class="card-class" routerLink="/الاصناف"  *ngIf="hasAccessRole(pageEnums.ITEMES1)">    
      
        <mat-card-content>
            <mat-card-title>إضافة صنف</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/السلعة"  *ngIf="hasAccessRole(pageEnums.COMMODITY)">    
        <mat-card-content>
            <mat-card-title>إضافة سلعة</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/النوعية"  *ngIf="hasAccessRole(pageEnums.GRADE)">    
        <mat-card-content>
            <mat-card-title>إضافة نوعية</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/الفصيلة"  *ngIf="hasAccessRole(pageEnums.STR_PLATOON)">       
        <mat-card-content>
            <mat-card-title>إضافة فصيلة</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/المجموعة"  *ngIf="hasAccessRole(pageEnums.GROUP1)">    
        <mat-card-content>
            <mat-card-title>إضافة مجموعة</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/الوحدة"  *ngIf="hasAccessRole(pageEnums.UNIT)">    
        <mat-card-content>
            <mat-card-title>إضافة وحدة</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/المخازن"  *ngIf="hasAccessRole(pageEnums.STORE)">    
        <mat-card-content>
            <mat-card-title>إضافة مخزن</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/مركز التكلفة"  *ngIf="hasAccessRole(pageEnums.COST_CENTER)">    
        <mat-card-content>
            <mat-card-title>إضافة مركز تكلفة</mat-card-title>
        </mat-card-content>
      </mat-card>
    
      <mat-card class="card-class" routerLink="/المصنع"  *ngIf="hasAccessRole(pageEnums.STR_VENDOR)">    
        <mat-card-content>
            <mat-card-title> المصنع</mat-card-title>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-class" routerLink="/الموديلات"  *ngIf="hasAccessRole(pageEnums.MODEL)">    
        <mat-card-content>
            <mat-card-title>الموديل</mat-card-title>
        </mat-card-content>
      </mat-card>
      <mat-card class="card-class"   routerLink="/المنتجات" *ngIf="hasAccessRole(pageEnums.PRODUCTS)">    
        <mat-card-content>
            <mat-card-title>المنتجات</mat-card-title>
        </mat-card-content>
      </mat-card>
    </div>
  
  </mat-card>
</div>